html
body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-mono);
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: -.025rem;
  word-spacing: -.05rem;
}

::-moz-selection {
  color: var(--color-lightest);
  background: var(--accent-color);
}

::selection {
  color: var(--color-lightest);
  background: var(--accent-color);
}

p {
  margin: var(--margin-vertical-base-horizontal-zero);
  overflow: visible;

  & a {
    text-decoration: underline;
    text-underline-offset: var(--spacing-xs);
  }
}

.highlight-text {
  color: var(--color-lightest);
  background-color: var(--accent-color);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-slight);
}

blockquote {
  font-size: var(--font-size-lg);
  color: var(--gray-dark);
  padding-left: var(--spacing-lg);
  border-left: var(--sizing-xs) solid var(--gray-dark);
  margin: var(--margin-vertical-base-horizontal-zero);
}

code {
  padding: var(--spacing-xs);
  color: var(--text-color-inverted);
  background-color: var(--background-color-inverted);
  border-radius: var(--border-radius-slight);
}

p:not(.banner p) > svg {
  margin-bottom: var(--inline-margin-bottom);
}

:is(h1, h2, h3, h4, h5, h6) svg {
  stroke-width: var(--stroke-width-bold);
}

:is(h1, h2, h3, h4, h5, h6):has(svg) {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm)
}

strong,
blockquote {
  font-weight: var(--font-weight-bold);
}

em,
blockquote {
  font-style: italic;
}

svg {
  width: var(--sizing-svg-base);
  height: var(--sizing-svg-base);
  stroke-width: var(--stroke-width-default);
}

/* brand colors */
.article,
.books,
.brand-github,
.brand-mastodon,
.brand-npm,
.coffee,
.collected,
.concerts,
.country,
.device-tv-old,
.device-watch,
.favorite,
.headphones,
.heart-handshake,
.info-circle,
.link,
.mail,
.mail-plus,
.movies,
.music,
.rss,
.search,
.tattoo,
.tv {
  &.article { --section-color: var(--article); }
  &.books { --section-color: var(--books); }
  &.brand-github { --section-color: var(--brand-github); }
  &.brand-mastodon { --section-color: var(--brand-mastodon); }
  &.brand-npm { --section-color: var(--brand-npm); }
  &.coffee { --section-color: var(--brand-buy-me-a-coffee); }
  &.collected { --section-color: var(--collected); }
  &.concerts { --section-color: var(--concerts); }
  &.country { --section-color: var(--country); }
  &.device-tv-old { --section-color: var(--tv); }
  &.device-watch { --section-color: var(--now); }
  &.favorite { --section-color: var(--favorite); }
  &.headphones { --section-color: var(--music); }
  &.heart-handshake { --section-color: var(--webrings); }
  &.info-circle { --section-color: var(--about); }
  &.link { --section-color: var(--link); }
  &.mail { --section-color: var(--brand-gmail); }
  &.mail-plus { --section-color: var(--newsletter); }
  &.movies, &.tv { --section-color: var(--tv); }
  &.music { --section-color: var(--music); }
  &.rss { --section-color: var(--brand-rss); }
  &.search { --section-color: var(--search); }
  &.tattoo { --section-color: var(--tattoo); }

  color: var(--section-color);

  & svg {
    stroke: var(--section-color);
  }
}

/* links */
a {
  color: var(--accent-color);
  text-decoration: none;
}

:is(a:hover, a:active, a:focus) svg[data-tablericon-name^="arrow-"] {
  stroke: var(--accent-color-hover);
}

a:hover,
a:focus,
a:active,
:is(.main-title, footer nav.sub-pages) a:hover,
:is(.main-title, footer nav.sub-pages) a:focus,
:is(.main-title, footer nav.sub-pages) a:active {
  color: var(--accent-color-hover);
  transition-property: color;
  transition-timing-function: var(--transition-ease-in-out);
  transition-duration: var(--transition-duration-default);
}

:is(
    a:has(svg):hover,
    a:has(svg):active,
    a:has(svg):focus
) svg {
  stroke: var(--accent-color-hover);
}

:is(a):has(svg) {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-sm);

  & svg {
    stroke: var(--accent-color);
  }

  &:hover svg,
  &:active svg,
  &:focus svg {
    stroke: var(--accent-color-hover);
  }
}

/* headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
  margin: var(--margin-vertical-base-horizontal-zero);
}

h1 { font-size: var(--font-size-2xl); }
h2 { font-size: var(--font-size-xl); }
h3 { font-size: var(--font-size-lg); }
h4 { font-size: var(--font-size-base); }
h5 { font-size: var(--font-size-md); }
h6 { font-size: var(--font-size-sm); }

@media screen and (min-width: 768px) {
  h1 { font-size: var(--font-size-3xl); }
  h2 { font-size: var(--font-size-2xl); }
  h3 { font-size: var(--font-size-xl); }
  h4 { font-size: var(--font-size-lg); }
  h5 { font-size: var(--font-size-base); }
  h6 { font-size: var(--font-size-md); }
}

/* dividers */
hr {
  height: 1px;
  background-color: var(--gray-light);
  border: 0;
  margin: var(--margin-vertical-base-horizontal-zero);
}

/* tables */
table {
  overflow-x: auto;
  width: 100%;
  border: var(--border-gray);
  border-radius: var(--border-radius-slight);
  white-space: nowrap;
  caption-side: bottom;
  overscroll-behavior: none;
}

table,
th,
td {
  border-collapse: collapse;
  width: 100%;
}

:is(th, td):not(:first-child, :last-child) {
  border-right: var(--border-gray);
}

th,
tr:not(:last-child) {
  border-bottom: var(--border-gray);
}

th,
td {
  padding: var(--spacing-sm);
  min-width: max-content;
  word-break: break-word;
  width: 100%;

  &:first-child {
    position: sticky;
    left: 0;
    border-inline-end: none;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      width: 1px;
      height: 100%;
      background: var(--gray-light);
    }
  }
}

td {
  min-width: calc(var(--spacing-3xl) * 2);

  &:first-child {
    background-color: var(--background-color);
  }
}

td:first-of-type,
:where(thead, tfoot) th:nth-child(2) {
	border-inline-start: none;
}

th {
  font-weight: var(--font-weight-bold);
  background-color: var(--gray-lighter);
  text-align: left;
}

/* header */
.main-title {
  width: 100%;
  padding-top: var(--spacing-3xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & h1 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
}

/* nav */
.active,
.active svg {
  cursor: not-allowed;
  color: var(--accent-color);
  stroke: var(--accent-color-hover);
}

/* layout */
.default-wrapper {
  padding-top: var(--spacing-2xl);

  & > h2 {
    margin-top: 0;
  }

  & > a + h2 {
    margin-top: var(--spacing-base);
  }
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 0%;
}

main,
footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
}

footer {
  & .updated {
    text-align: center;
    font-size: var(--font-size-sm);
    margin: var(--spacing-3xl) 0 var(--spacing-lg);
  }

  & nav {
    &.social,
    &.sub-pages {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &.social {
      gap: var(--spacing-md);
      margin-bottom: var(--spacing-lg);
      width: 100%;

      & .icon > span,
      & .active > span {
        display: none;
      }

      & .active {
        display: flex;
      }
    }

    &.sub-pages {
      font-size: var(--font-size-sm);
      padding-bottom: var(--spacing-3xl);

      & span:not(.active) {
        margin-left: var(--spacing-sm);
        margin-right: var(--spacing-sm);
      }
    }
  }
}

:is(.main-title, footer nav.sub-pages) a {
  color: var(--text-color);
}

/* articles */
article {
  margin-bottom: var(--spacing-base);
  border-bottom: var(--border-gray);

  &:last-of-type {
    border-bottom: none;
  }

  & h3 {
    margin: 0;
  }

  &:not(:has(h3)) p {
    margin-top: 0;
  }

  & .post-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);

    & svg {
      stroke: var(--gray-dark);
      width: var(--sizing-svg-sm);
      height: var(--sizing-svg-sm);
    }

    & time {
      color: var(--gray-dark);
      font-size: var(--font-size-sm);
    }
  }
}

/* lists */
ul, ol {
  list-style-position: inside;
  margin: var(--margin-vertical-base-horizontal-zero);
  padding-left: var(--spacing-base);

  & li:not(:last-child) {
    margin-bottom: var(--spacing-lg);
  }
}

/* images */
.image-banner {
  border: var(--border-default);
  border-radius: var(--border-radius-slight);
  height: auto;
  width: 100%;
}