---
layout: default
pagination:
  data: books
  size: 1
  alias: book
permalink: /books/{{ book.isbn }}/index.html
isbn: {{ book.isbn }}
schema: book
---
{%- capture alt -%}
  {{ book.title }}{% if book.authors %}By {{ book.authors }}{% endif %}
{%- endcapture -%}
<a class="back-link-header link-icon flex-centered" href="/books">{% tablericon "arrow-left" "Go back" %} Go back</a>
<article class="book-focus">
  <div class="book-display">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=203&h=309&fm=webp&q=50 203w,
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=406&h=618&fm=webp&q=50 406w,
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=812&h=1236&fm=webp&q=50 812w,
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=1624&h=2472&fm=webp&q=50 1624w
      "
      sizes="(max-width: 450px) 203px,
        (max-width: 850px) 406px,
        (max-width: 1000px) 812px,
        1624px"
      src="https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=1624&h=2472&fm=webp&q=50"
      alt="{{ alt }}"
      loading="eager"
      decoding="async"
      width="203"
      height="309"
    />
    <div class="book-meta">
      <p class="title"><strong>{{ book.title }}</strong></p>
      {% if book.rating %}<p>{{ book.rating }}</p>{% endif %}
      {% if book.authors or book.categories %}
      <p class="sub-meta">{% if book.authors %}By {{ book.authors }}{% endif %}{% if book.categories %}{% if book.authors %} • {% endif %}{{ book.categories }}{% endif %}</p>
      {% endif %}
      {% if book.status == 'finished' %}<p class="sub-meta">Finished on: {{ book.date | date: "%B %e, %Y" }}</p>{% endif %}
      <p class="sub-meta"><a href="https://openlibrary.org/isbn/{{ book.isbn }}">View on Open Library</a></p>
    </div>
  </div>
  {% if book.description %}<p><em>{{ book.description }}</em></p>{% endif %}
</article>