---
title: Currently reading • Books
description: Here's what I'm reading at the moment.
layout: default
permalink: "/books/index.html"
updated: "now"
schema: books
---
{%- assign bookData = books | bookStatus: 'started' | reverse -%}
{%- assign currentBookCount = books | currentBookCount -%}
<h2 class="page-header">Currently reading</h2>
<p>Here's what I'm reading at the moment. <a href="/books/want-to-read/">You can also take a look at what I'm planning to read (eventually).</a></p>
<p>I've finished <strong class="highlight-text">{{ currentBookCount }} books</strong> this year.</p>
<p><a href="/books/years/2024">2024</a> • <a href="/books/years/2023">2023</a> • <a href="/books/years/2022">2022</a> • <a href="/books/years/2021">2021</a> • <a href="/books/years/2020">2020</a></p>
{% render "partials/banners/rss.liquid", url: "https://feedpress.me/coryd-books", text: "Subscribe to my books feed or follow along on this page" %}
<hr class="large-spacing" />
{% for book in bookData %}
{% capture alt %}{{ book.title }} by {{ book.authors }}{% endcapture %}
<article class="book-entry">
  <a href="{{ book.url }}">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=203&h=309&fm=webp&q=40 203w,
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=406&h=618&fm=webp&q=40 406w,
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=812&h=1236&fm=webp&q=40 812w,
        https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=1624&h=2472&fm=webp&q=40 1624w
      "
      sizes="(max-width: 450px) 203px,
        (max-width: 850px) 406px,
        (max-width: 1000px) 812px,
        1624px"
      src="https://coryd.dev/.netlify/images/?url={{ book.image }}&fit=cover&w=1624&h=2472&fm=webp&q=40"
      alt="{{ alt }}"
      loading="eager"
      decoding="async"
      width="203"
      height="309"
    />
  </a>
  <div class="book-meta">
    <a href="{{ book.url }}">
      <p class="title"><strong>{{ book.title }}</strong></p>
    </a>
    {% if book.author %}
      <p class="sub-meta">By {{ book.author }}</p>
    {% endif %}
    {% if book.progress %}
      {%- assign percentage = book.progress | append: '%' -%}
      {% render "partials/media/progress-bar.liquid", percentage:percentage %}
    {% endif %}
    {% if book.description %}<blockquote class="description">{{ book.description }}</blockquote>{% endif %}
  </div>
</article>
{% endfor %}