---
title: Currently reading • Books
layout: default
permalink: "/books/index.html"
---
{%- assign bookData = books | bookStatus: 'started' | reverse -%}
{%- assign currentBookCount = books | currentBookCount -%}
<h2 class="page-header">Currently reading</h2>
{% render "partials/banners/rss.liquid", url: "https://feedpress.me/coryd-books", text: "Subscribe to my books feed or follow along on this page" %}
<p>Here's what I'm reading at the moment. <a href="/books/want-to-read/">You can also take a look at what I'm planning to read (eventually).</a></p>
<p>I've finished <strong class="highlight-text">{{ currentBookCount }} books</strong> this year.</p>
<p><a href="/books/years/2024">2024</a> • <a href="/books/years/2023">2023</a> • <a href="/books/years/2022">2022</a> • <a href="/books/years/2021">2021</a> • <a href="/books/years/2020">2020</a></p>
<hr class="large-spacing" />
{% for book in bookData %}
{% capture alt %}{{ book.title }} by {{ book.authors }}{% endcapture %}
<article class="book-entry">
  <a href="{{ book.url }}">
    <img src="https://coryd.dev/.netlify/images/?url={{ book.image }}&fm=webp&q=80&w=137&h=209&fit=cover" alt="{{ alt }}" loading="eager" decoding="async" width="137" height="209" />
  </a>
  <div class="book-meta">
    <a href="{{ book.url }}">
      <p class="title"><strong>{{ book.title }}</strong></p>
    </a>
    {% if book.authors or book.categories %}
    <p class="author-categories">{% if book.authors %}By {{ book.authors }}{% endif %}{% if book.categories %}{% if book.authors %}• {% endif %}<em>{{ book.categories }}</em>{% endif %}</p>
    {% endif %}
    {% if book.description %}<blockquote class="description">{{ book.description }}</blockquote>{% endif %}
  </div>
</article>
{% endfor %}
<p class="explainer text-small text-centered"><em>This page was last updated on {{ "now" | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}. It typically updates once an hour.</em></p>