---
layout: base
---
{%- capture updateTime -%}
  {%- if updated == "now" -%}
    {{ 'now' | date: "%B %-d, %l:%M %P", "America/Los_Angeles" }}
  {%- elsif page.updated -%}
    {{ page.updated | date: "%B %-d, %l:%M %P", "America/Los_Angeles" }}
  {%- endif -%}
{%- endcapture -%}
<div class="main-wrapper">
  <main>{{ content }}</main>
  {% render "partials/footer.liquid", page:page, nav:nav, updated:updateTime %}
</div>