.addon-links {
  display: grid;
  gap: var(--sizing-sm);
  grid-template-columns: repeat(1,minmax(0,1fr));

  & div > h2 {
    margin-top: 0;
  }

  & div:last-of-type h2 {
    margin-top: var(--sizing-base);
  }

  &.link-list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .addon-links {
    grid-template-columns: repeat(2,minmax(0,1fr));

    & div:last-of-type h2 {
      margin-top: 0;
    }
  }
}