.badge-grid {
  display: grid;
  gap: var(--spacing-md);
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--spacing-2xl);

  & > * {
    display: flex;
    justify-content: center;
  }

  & a {
    outline: none;

    &:focus img,
    &:focus-within img {
      outline: var(--outline-default);
    }
  }

  & img {
    image-rendering: pixelated;
  }
}

@media screen and (min-width: 768px) {
  .badge-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}