.banner {
  margin: var(--sizing-base) 0;
  padding: var(--sizing-md);
  border: 1px solid;
  border-radius: var(--rounded-lg);
}

.banner.old-post {
  border-color: var(--gray-light);
}

.banner.npm {
  border-color: var(--brand-npm);
}

.banner.npm svg {
  stroke: var(--brand-npm);
}

.banner p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin: 0 !important;
}

.banner p > svg {
  display: inline;
  vertical-align: middle;
  height: var(--sizing-lg);
  width: var(--sizing-lg);
  margin-right: var(--sizing-xs);
}