.banner {
  margin: var(--sizing-base) 0;
  padding: var(--sizing-md);
  border: 1px solid;
  border-radius: var(--rounded);

  & p {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    margin: 0;

    a {
      color: var(--text-color);
      text-decoration: underline;
    }

    & > svg {
      display: inline;
      vertical-align: middle;
      height: var(--sizing-lg);
      width: var(--sizing-lg);
      margin-right: var(--sizing-xs);
    }
  }

  &.old-post {
    border-color: var(--gray-light);
  }

  &.npm {
    border-color: var(--brand-npm);

    & p a:hover,
    & p a:active,
    & p a:focus {
      color: var(--brand-npm);
    }

    & svg {
      stroke: var(--brand-npm);
    }
  }

  &.github {
    border-color: var(--brand-github);

    & p a:hover,
    & p a:active,
    & p a:focus {
      color: var(--brand-github);
    }

    & svg {
      stroke: var(--brand-github);
    }
  }

  &.rss {
    border-color: var(--brand-rss);

    & p a:hover,
    & p a:active,
    & p a:focus {
      color: var(--brand-rss);
    }

    & svg {
      stroke: var(--brand-rss);
    }
  }
}