.banner {
  margin: var(--sizing-base) 0;
  padding: var(--sizing-md);
  border: 1px solid;
  border-radius: var(--rounded);

  & p {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    margin: 0;

    a {
      color: var(--text-color);
    }

    & > svg {
      display: inline;
      vertical-align: middle;
      height: var(--sizing-lg);
      width: var(--sizing-lg);
      margin-right: var(--sizing-sm);
    }
  }

  &.old-post {
    border-color: var(--gray-light);
  }

  &.warning,
  &.error,
  &.npm,
  &.github,
  &.rss {
    &.warning {
      --border-color: var(--warning);
    }

    &.error {
      --border-color: var(--error);
    }

    &.npm {
      --border-color: var(--brand-npm);
    }

    &.github {
      --border-color: var(--brand-github);
    }

    &.rss {
      --border-color: var(--brand-rss);
    }

    border-color: var(--border-color);

    & p a:hover,
    & p a:active,
    & p a:focus {
      color: var(--border-color);
    }

    & svg {
      stroke: var(--border-color);
    }
  }
}