button {
  &:not(.theme-toggle) {
    border-radius: var(--rounded-full);
    padding: var(--sizing-sm) var(--sizing-lg);
    margin: 0 var(--sizing-xs) var(--sizing-md) 0;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    color: var(--color-lightest);
    background-color: var(--accent-color);
    appearance: none;
    border: 2px solid var(--accent-color);
    transition-property: border;
  }

  &:not(.theme-toggle, .active):hover,
  &:not(.theme-toggle, .active):active,
  &:not(.theme-toggle, .active):focus,
  &:not(.theme-toggle, .active):focus-within {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
    transition-timing-function: var(--transition-ease-in-out);
    transition-duration: var(--transition-duration-default);
  }

  &:not(.active):focus,
  &:not(.active):focus-within {
    transition-property: none;
    outline: 2px dashed var(--accent-color);
    padding: calc(var(--sizing-sm) + 2px) calc(var(--sizing-lg) + 2px);
    border: 0;
  }

  &.small {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    padding: var(--sizing-xs) var(--sizing-sm);

    &:not(.active):focus,
    &:not(.active):focus-within {
      padding: var(--sizing-xs) calc(var(--sizing-sm) + 2px);
    }
  }

  &.secondary {
    color: var(--accent-color);
    background: transparent;
  }

  &.secondary:not(.theme-toggle):hover,
  &.secondary:not(.theme-toggle):active,
  &.secondary:not(.theme-toggle):focus {
    color: var(--accent-color-hover);
    background: transparent;
  }

  &.active {
    cursor: not-allowed;
  }
}