@import url('./tab-buttons.css');
@import url('./text-toggle.css');

button,
.button {
  appearance: none;
  border: none;

  & + hr {
    margin-top: 0;
  }

  &:not(.theme-toggle) {
    border: 2px solid var(--accent-color);
    border-radius: var(--border-radius-full);
    padding: var(--spacing-xs) var(--spacing-md);
    cursor: pointer;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    white-space: nowrap;
    color: var(--color-lightest);
    background-color: var(--accent-color);
    appearance: none;
    transition-property: border;
  }

  &:not(.theme-toggle, .active):hover,
  &:not(.theme-toggle, .active):active,
  &:not(.theme-toggle, .active):focus,
  &:not(.theme-toggle, .active):focus-within {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
    transition-timing-function: var(--transition-ease-in-out);
    transition-duration: var(--transition-duration-default);
  }

  &:not(.theme-toggle, .active):focus,
  &:not(.theme-toggle, .active):focus-within {
    transition-property: none;
    outline: var(--outline-default);
    padding: calc(var(--spacing-xs) + 2px) calc(var(--spacing-md) + 2px);
    border: 0;
  }

  &.theme-toggle:focus,
  &.theme-toggle:focus-within {
    outline: var(--outline-default);
    border-radius: var(--border-radius-slight);
  }

  &.secondary {
    color: var(--accent-color);
    background: transparent;
  }

  &.secondary:not(.theme-toggle):hover,
  &.secondary:not(.theme-toggle):active,
  &.secondary:not(.theme-toggle):focus {
    color: var(--accent-color-hover);
    background: transparent;
  }
}