::placeholder {
  color: var(--text-color);
  opacity: .5;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  font: var(--font-weight-base) var(--font-size-base) var(--font-mono);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--background-color);
  border: var(--border-default);
  border-radius: var(--border-radius-slight);
  padding: var(--spacing-sm);
  width: 100%;
}

label:has(input):has(+ *) input,
input[type="text"]:has(+ *),
input[type="email"]:has(+ *),
input[type="search"]:has(+ *),
textarea:has(+ *),
form:has(+ *) {
  margin-bottom: var(--spacing-base);
}

select {
  color: var(--text-color);
  cursor: pointer;
  border: var(--border-gray);
  border-radius: var(--border-radius-slight);
  background-color: var(--background-color);
  padding: var(--spacing-xs) var(--spacing-sm);
}

.search__form {
  margin-top: 0;

  & .search__form--input::-webkit-search-cancel-button {
    cursor: pointer;
  }
}

.search__results {
  margin: 0 0 var(--spacing-base);
  padding: 0;
  list-style: none;
  display: none;

  & li {
    margin: var(--spacing-sm) 0;

    & a {
      text-decoration: none;
    }
  }
}