.mastodon-post-wrapper {
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: var(--spacing-base);
  padding-bottom: .25rem;
}

dl {
  display: flex;
  flex-direction: row;
}

dd {
  margin-left: .25rem;
}

dd:not(:last-child) {
  margin-right: 1rem;
}