.mastodon-post-wrapper {
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: var(--sizing-base);
  padding-bottom: var(--sizing-base);

  & dl {
    display: flex;
    flex-direction: row;
  }

  & dd {
    margin-left: var(--sizing-xs);

    &:not(:last-child) {
      margin-right: var(--sizing-lg);
    }
  }
}