:root {
  --grid-square: repeat(2, minmax(0, 1fr));
  --grid-vertical: repeat(3, minmax(0, 1fr));

  @media screen and (min-width: 768px) {
    --grid-square: repeat(4, minmax(0, 1fr));
    --grid-vertical: repeat(6, minmax(0, 1fr));
  }
}

.icon-link + .media-grid {
  margin-top: var(--spacing-base);
}

.media-grid {
  display: grid;
  gap: var(--spacing-sm);

  & ~ .pagination {
    margin-top: var(--spacing-base);
  }

  &.square {
    grid-template-columns: var(--grid-square);

    & a {
      aspect-ratio: var(--aspect-ratio-square);
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-slight);
    }
  }

  &.vertical {
    grid-template-columns: var(--grid-vertical);

    & a {
      aspect-ratio: var(--aspect-ratio-vertical);
    }

    & img {
      width: 100%;
      height: auto;
      border-radius: var(--border-radius-slight);
    }
  }

  & .item {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

    &::after {
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      left: 0;
      box-shadow: var(--box-shadow-media);
      width: 100%;
      height: 100%;
      border: var(--border-default);
      border-radius: var(--border-radius-slight);
      transition: border-color var(--transition-duration-default) var(--transition-ease-in-out);
    }
  }

  & a:hover .item::after,
  & a:active .item::after {
    border-color: var(--accent-color-hover)
  }

  & .meta-text {
    position: absolute;
    z-index: 2;
    padding: 0 var(--spacing-sm);
    bottom: var(--spacing-sm);
    width: 100%;
    box-sizing: border-box;

    & .header,
    & .subheader {
      color: var(--color-lightest);
      font-size: var(--font-size-sm);
      line-height: var(--line-height-md);
      text-shadow: var(--text-shadow-default);
    }

    & .header {
      font-weight: var(--font-weight-bold);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}