:root {
  --grid-square: repeat(2,minmax(0,1fr));
  --grid-vertical: repeat(3,minmax(0,1fr));
  --item-wrapper-max-width: 193px;
}

.now__section--header {
  margin: var(--sizing-3xl) 0 var(--sizing-lg);
}

.media__grid {
  display: grid;
  gap: var(--sizing-sm);
}

.media__grid.square {
  grid-template-columns: var(--grid-square);
}

.media__grid.square a {
  aspect-ratio: 1/1;
}

.media__grid.vertical {
  grid-template-columns: var(--grid-vertical);
}

.media__grid.vertical a {
  aspect-ratio: 2/3;
}

.media__grid.square a,
.media__grid.square a,
.media__grid .item__wrapper {
  height: 100%;
  width: 100%;
}

.media__grid.vertical .item__wrapper {
  max-width: var(--item-wrapper-max-width);
}

.media__grid .item__wrapper {
  position: relative;
  border: 1px solid var(--accent-color);
  border-radius: var(--rounded-md);
  overflow: hidden;
  transition-property: border-color;
  transition-timing-function: var(--transition-ease-in-out);
  transition-duration: 300ms;
}

.media__grid .item__wrapper:hover,
.media__grid .item__wrapper:focus,
.media__grid .item__wrapper:active {
  border-color: var(--accent-color-hover)
}

.media__grid .item__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-sm);
  background-image: linear-gradient(180deg,transparent 0,rgba(0,0,0,.15) 70%,rgba(0,0,0,.75));
}

.media__grid .item__meta-text {
  position: absolute;
  padding: 0 var(--sizing-xs);
  width: 90%;
  bottom: var(--sizing-xs);
}

.media__grid .item__meta-text .header,
.media__grid .item__meta-text .subheader {
  color: var(--color-lightest);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
}

.media__grid .item__meta-text .header {
  font-weight: 700;
}

.media__grid img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  :root {
    --grid-square: repeat(4,minmax(0,1fr));
    --grid-vertical: repeat(6,minmax(0,1fr));
    --item-wrapper-max-width: 121px;
  }
}