.music-chart {
  margin-bottom: var(--spacing-base);

  & ol {
    padding-left: 0;
    margin-top: 0;

    @media screen and (min-width: 768px) {
      list-style-position: outside;
    }

    & li:first-of-type {
      margin-top: 0;
    }
  }

  & .item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &:not(:last-of-type) {
      margin-bottom: var(--spacing-lg);
    }

    & .progress-bar-wrapper {
      margin-top: var(--spacing-sm);
      max-width: 40%;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    & a:has(img) {
      display: flex;
    }

    & img {
      border: var(--border-default);
      border-radius: var(--border-radius-slight);
      width: calc(var(--sizing-3xl) * 1.5);
      height: calc(var(--sizing-3xl) * 1.5);

      @media screen and (min-width: 768px) {
        width: calc(var(--sizing-3xl) * 2);
        height: calc(var(--sizing-3xl) * 2);
      }
    }

    & .info {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);

      @media screen and (min-width: 768px) {
        max-width: calc(75% - var(--sizing-lg));
      }
    }

    & .meta {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-md);

      @media screen and (min-width: 768px) {
        width: calc(75% - var(--sizing-lg));
      }
    }

    & .meta-text {
      display: flex;
      flex-direction: column;
      justify-content: start;

      @media screen and (min-width: 768px) {
        max-width: 85%;
      }
    }

    & .title {
      font-weight: var(--font-weight-bold);
    }

    & .title,
    & .subtext,
    & .subtext p,
    & .timestamp {
      line-height: var(--line-height-md);
      word-break: break-word;
    }

    & .subtext,
    & .timestamp {
      font-size: var(--font-size-sm);
    }

    & .timestamp {
      margin-top: var(--spacing-sm);
      margin-left: 0;

      @media screen and (min-width: 768px) {
        margin-left: var(--spacing-lg);
        text-align: right;
        white-space: nowrap;
      }
    }
  }

  &.grid {
    display: grid;
    gap: var(--spacing-sm);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--spacing-base);

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    & .item .meta {
      max-width: 80%;

      & .title {
        line-height: var(--line-height-sm);
      }

      & .subtext p {
        margin: 0;
        line-height: var(--line-height-sm);
      }
    }
  }
}