.pagination {
  justify-content: space-between;

  & button {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }

  & a {
    display: flex;

    & > svg {
      stroke: var(--accent-color);
      cursor: pointer;
    }
  }

  & :is(a:hover, a:active, a:focus) svg,
  & a svg:hover,
  & a svg:active,
  & a svg:focus {
    transform: rotate(0deg);
    stroke: var(--accent-color-hover);
  }

  & span.disabled svg {
    cursor: not-allowed;
    stroke: color-mix(in srgb, var(--text-color), transparent 50%);
    stroke-width: var(--stroke-width-default);
  }
}