.pagination {
  justify-content: space-between;

  & button {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }

  & a {
    display: flex;
  }

  & span.disabled svg[data-tablericon-name^="arrow-"] {
    cursor: not-allowed;
    stroke: color-mix(in srgb, var(--text-color), transparent 50%);
    stroke-width: var(--stroke-width-default);
  }
}