.post-graph {
  margin-top: var(--sizing-base);
  margin-bottom: var(--sizing-base);

  & .wrapper {
    display: flex;
    align-items: center;
    height: var(--sizing-3xl);
    margin-bottom: var(--sizing-sm);

    & .year {
      font-family: var(--font-mono);
    }

    & .progress {
      background-color: var(--accent-color);
      height: 100%;
    }

    & .progress,
    & .data {
      margin-left: var(--sizing-sm);
    }
  }
}