.progress-bar__wrapper {
  display: flex;
  background-color: rgba(217, 222, 228, .6);
  border-radius: var(--rounded-lg);
  overflow: hidden;
  height: var(--sizing-lg);
  width: 100%;
  margin-bottom: var(--sizing-xs);
}

.progress-bar {
  background-color: var(--accent-color);
}