.progress-bar-wrapper {
  display: flex;
  height: var(--sizing-lg);
  width: 100%;
  background-color: #d9dee499;
  border-radius: var(--border-radius-full);

  & .progress-bar {
    background-color: var(--accent-color);
    border-radius: var(--border-radius-full);
  }
}