webcare-webshare {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xs);
}

button {
  background: transparent;
  padding: 0;
}

button,
button > svg {
  cursor: pointer;
}

input {
  border-radius: var(--rounded-md);
  padding: .25rem;
  border: 1px solid var(--gray-light);
}

:root body.theme__dark {
  button {
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: dark) {
  button {
    color: var(--text-color);
  }
}