webcare-webshare {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xs);

  & button {
    color: var(--gray-dark);
    background: transparent;
    padding: 0;
    cursor: pointer;

    & > svg {
      stroke: var(--gray-dark);
      cursor: pointer;
    }
  }
}