theme-toggle {
  display: flex;
  width: var(--sizing-svg-base);
  height: var(--sizing-svg-base);
  margin-left: var(--spacing-md);
}

.theme-toggle {
  background: transparent;
  padding: 0;

  & svg {
    cursor: pointer;
  }

  &:hover svg,
  &:focus svg,
  &:focus-within svg,
  &:active svg {
    stroke: var(--accent-color-hover);
  }

  & > .light svg {
    stroke: var(--sun);
  }

  & > .dark svg {
    stroke: var(--moon);
  }

  & > .auto svg {
    & path:nth-of-type(3) {
      stroke: var(--moon);
    }

    & path:nth-of-type(2),
    & path:nth-of-type(4),
    & path:nth-of-type(5),
    & path:nth-of-type(6) {
      stroke: var(--sun);
    }

    & path:nth-of-type(7) {
      stroke: var(--twilight);
    }
  }

  .light,
  .dark {
    display: none;
  }
}