.track__chart--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.track__chart--item:not(:last-of-type) {
  margin-bottom: var(--sizing-md);
}

.track__chart--item .progress-bar__wrapper {
  max-width: 40%;
  margin-left: var(--sizing-lg);
}

.track__chart--presentation {
  display: flex;
  flex-direction: row;
  max-width: calc(60% - var(--sizing-lg));
}

.track__chart--count {
  margin-right: var(--sizing-sm);
}

.track__chart--info {
  max-width: calc(100% - var(--sizing-lg));
}

.track__chart--title {
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.track__chart--artists {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}