youtube-video {
  aspect-ratio: 16/9;
  width: 100%;
  display: flex;
  overflow: hidden;
  border: var(--border-default);
  border-radius: var(--border-radius-slight);

  &:hover {
    border-color: var(--accent-color-hover);
    transition: border var(--transition-duration-default)
      var(--transition-ease-in-out);
  }

  &:has(+ *) {
    margin-bottom: var(--spacing-base);
  }
}
