<div class="mt-12 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <img class="inline-block h-20  mr-2" src="/assets/img/avatar.webp" alt={{ site.name }} />
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <p class="text-sm flex-1">I'm a software developer in Camarillo, California. I enjoy hanging out with my beautiful family and 4 rescue dogs, technology, automation, music, writing, reading and tv and movies.</p>
</div>
