---
layout: main
---
{% render "partials/header.liquid", site: site, page: page, nav: nav %}
<div class="pt-8 prose dark:prose-invert hover:prose-a:text-blue-800 dark:hover:prose-a:text-blue-200 max-w-full">
  {{ content }}
</div>