---
layout: main
---
{% render "partials/header.liquid", site: site, page: page %}
{{ content }}
{% render "partials/now/artists.liquid", music:music %}
{% render "partials/now/albums.liquid", music:music %}
{% render "partials/now/albumReleases.liquid", albumReleases:albumReleases %}
{% render "partials/now/books.liquid", books:books %}
{% render "partials/now/links.liquid", links:links %}
{% render "partials/now/movies.liquid", movies:movies %}
{% render "partials/now/tv.liquid", tv:tv %}
<p class="text-xs text-center pt-6">This is a
  <a href="https://nownownow.com/about">now page</a>, and if you have your own site,
  <a href="https://nownownow.com/about">you should make one too</a>.</p>
