---
layout: default
---
{% capture js %}
  {% render "../assets/scripts/media-toggles.js" %}
{% endcapture %}
<script>{{ js }}</script>
{{ content }}
<div class="now-header-wrapper">
  <h2 id="artists" class="now-header flex-centered">
    {% tablericon "microphone-2" "Artists" %}
    Artists
  </h2>
  <div class="now-header-buttons client-side">
    <button class="small active" data-toggle="artists-window">This week</button>
    <button class="small secondary" data-toggle="artists-month">This month</button>
    <button class="small secondary" data-toggle="artists-three-months">3 months</button>
    <button class="small secondary" data-toggle="artists-year">This year</button>
  </div>
</div>
<div id="artists-window">
  {% render "partials/now/media-grid.liquid", data:music.artists, shape: "square", count: 8, loading: "eager" %}
</div>
<div class="hidden" id="artists-month">
  {% render "partials/now/media-grid.liquid", data:musicCharts.month.artists, shape: "square", count: 8 %}
</div>
<div class="hidden" id="artists-three-months">
  {% render "partials/now/media-grid.liquid", data:musicCharts.threeMonth.artists, shape: "square", count: 8 %}
</div>
<div class="hidden" id="artists-year">
  {% render "partials/now/media-grid.liquid", data:musicCharts.year.artists, shape: "square", count: 8 %}
</div>
<div class="now-header-wrapper">
  <h2 id="albums" class="now-header flex-centered">
    {% tablericon "vinyl" "Albums" %}
    Albums
  </h2>
  <div class="now-header-buttons client-side">
    <button class="small active" data-toggle="albums-window">This week</button>
    <button class="small secondary" data-toggle="albums-month">This month</button>
    <button class="small secondary" data-toggle="albums-three-months">3 months</button>
    <button class="small secondary" data-toggle="albums-year">This year</button>
  </div>
</div>
<div id="albums-window">
  {% render "partials/now/media-grid.liquid", data:music.albums, shape: "square", count: 8 %}
</div>
<div class="hidden" id="albums-month">
  {% render "partials/now/media-grid.liquid", data:musicCharts.month.albums, shape: "square", count: 8 %}
</div>
<div class="hidden" id="albums-three-months">
  {% render "partials/now/media-grid.liquid", data:musicCharts.threeMonth.albums, shape: "square", count: 8 %}
</div>
<div class="hidden" id="albums-year">
  {% render "partials/now/media-grid.liquid", data:musicCharts.year.albums, shape: "square", count: 8 %}
</div>
<div class="now-header-wrapper">
  <h2 id="tracks" class="now-header flex-centered">
    {% tablericon "playlist" "Tracks" %}
    Tracks
  </h2>
  <div class="now-header-buttons client-side">
    <button class="small active" data-toggle="tracks-recent">Recent</button>
    <button class="small secondary" data-toggle="tracks-window">This week</button>
    <button class="small secondary" data-toggle="tracks-month">This month</button>
    <button class="small secondary" data-toggle="tracks-three-months">3 months</button>
    <button class="small secondary" data-toggle="tracks-year">This year</button>
  </div>
</div>
<div id="tracks-recent">
  {% render "partials/now/tracks-recent.liquid", data:musicCharts.recent %}
</div>
<div class="hidden" id="tracks-window">
  {% render "partials/now/track-chart.liquid", data:music.topTracks.data, mostPlayed:music.topTracks.mostPlayed %}
</div>
<div class="hidden" id="tracks-month">
  {% render "partials/now/track-chart.liquid", data:musicCharts.month.topTracks.data, mostPlayed:musicCharts.month.topTracks.mostPlayed %}
</div>
<div class="hidden" id="tracks-three-months">
  {% render "partials/now/track-chart.liquid", data:musicCharts.threeMonth.topTracks.data, mostPlayed:musicCharts.threeMonth.topTracks.mostPlayed %}
</div>
<div class="hidden" id="tracks-year">
  {% render "partials/now/track-chart.liquid", data:musicCharts.year.topTracks.data, mostPlayed:musicCharts.year.topTracks.mostPlayed %}
</div>
{% render "partials/now/albumReleases.liquid", albumReleases:albumReleases %}
<h2 id="books" class="now-header flex-centered">
  {% tablericon "books" "Books" %}
  Books
</h2>
{% render "partials/now/media-grid.liquid", data:books, shape: "vertical", count: 6 %}
{% render "partials/recent-links.liquid", links:links %}
<h2 id="movies" class="now-header flex-centered">
  {% tablericon "movie" "Movies" %}
  Movies
</h2>
{% render "partials/now/media-grid.liquid", data:movies, icon: "movie", title: "Movies", shape: "vertical", count: 6 %}
<h2 id="tv" class="now-header flex-centered">
  {% tablericon "device-tv" "TV" %}
  TV
</h2>
{% render "partials/now/media-grid.liquid", data:tv, icon: "device-tv", title: "TV", shape: "vertical", count: 6 %}
<p class="now-explainer text-small text-centered">
  This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one too</a>.
</p>
