---
layout: default
---
{% capture js %}
  {% render "../assets/scripts/media-toggles.js" %}
{% endcapture %}
<script>{{ js }}</script>
{{ content }}
<div class="section-header-wrapper">
  <h2 id="artists" class="section-header flex-centered">
    {% tablericon "microphone-2" "Artists" %}
    Artists
  </h2>
  <div class="section-header-buttons client-side">
    <button class="small active" data-toggle="artists-window">This week</button>
    <button class="small secondary" data-toggle="artists-month">This month</button>
    <button class="small secondary" data-toggle="artists-three-months">3 months</button>
    <button class="small secondary" data-toggle="artists-all-time">All time</button>
  </div>
</div>
<div id="artists-window">
  {% render "partials/now/media-grid.liquid", data:music.week.artists, shape: "square", count: 8, loading: "eager" %}
</div>
<div class="hidden" id="artists-month">
  {% render "partials/now/media-grid.liquid", data:music.month.artists, shape: "square", count: 8 %}
</div>
<div class="hidden" id="artists-three-months">
  {% render "partials/now/media-grid.liquid", data:music.threeMonth.artists, shape: "square", count: 8 %}
</div>
<div class="hidden" id="artists-all-time">
  {% render "partials/now/media-grid.liquid", data:music.allTime.artists, shape: "square", count: 8 %}
</div>
<div class="section-header-wrapper">
  <h2 id="albums" class="section-header flex-centered">
    {% tablericon "vinyl" "Albums" %}
    Albums
  </h2>
  <div class="section-header-buttons client-side">
    <button class="small active" data-toggle="albums-window">This week</button>
    <button class="small secondary" data-toggle="albums-month">This month</button>
    <button class="small secondary" data-toggle="albums-three-months">3 months</button>
    <button class="small secondary" data-toggle="albums-all-time">All time</button>
  </div>
</div>
<div id="albums-window">
  {% render "partials/now/media-grid.liquid", data:music.week.albums, shape: "square", count: 8 %}
</div>
<div class="hidden" id="albums-month">
  {% render "partials/now/media-grid.liquid", data:music.month.albums, shape: "square", count: 8 %}
</div>
<div class="hidden" id="albums-three-months">
  {% render "partials/now/media-grid.liquid", data:music.threeMonth.albums, shape: "square", count: 8 %}
</div>
<div class="hidden" id="albums-all-time">
  {% render "partials/now/media-grid.liquid", data:music.allTime.albums, shape: "square", count: 8 %}
</div>
<div class="section-header-wrapper">
  <h2 id="tracks" class="section-header flex-centered">
    {% tablericon "playlist" "Tracks" %}
    Tracks
  </h2>
  <div class="section-header-buttons client-side">
    <button class="small active" data-toggle="tracks-recent">Recent</button>
    <button class="small secondary" data-toggle="tracks-window">This week</button>
    <button class="small secondary" data-toggle="tracks-month">This month</button>
    <button class="small secondary" data-toggle="tracks-three-months">3 months</button>
  </div>
</div>
<div id="tracks-recent">
  {% render "partials/now/tracks-recent.liquid", data:music.recent.tracksChronological %}
</div>
<div class="hidden" id="tracks-window">
  {% render "partials/now/track-chart.liquid", data:music.week.tracks, mostPlayed:music.week.tracks[0].plays %}
</div>
<div class="hidden" id="tracks-month">
  {% render "partials/now/track-chart.liquid", data:music.month.tracks, mostPlayed:music.month.tracks[0].plays %}
</div>
<div class="hidden" id="tracks-three-months">
  {% render "partials/now/track-chart.liquid", data:music.threeMonth.tracks, mostPlayed:music.threeMonth.tracks[0].plays %}
</div>
{% render "partials/now/album-releases.liquid", albumReleases:albumReleases %}
<a class="link-icon flex-centered" href="/books">
  <h2 id="books" class="section-header flex-centered">
    {% tablericon "books" "Books" %}
    Books
  </h2>
</a>
{% assign bookData = books | bookStatus: 'started' | reverse %}
{% render "partials/now/media-grid.liquid", data:bookData, shape: "vertical", count: 6 %}
{% render "partials/widgets/recent-links.liquid", links:collections.links %}
<a class="link-icon flex-centered" href="/watching#movies">
  <h2 id="movies" class="section-header flex-centered">
    {% tablericon "movie" "Movies" %}
    Movies
  </h2>
</a>
{% render "partials/now/media-grid.liquid", data:movies.recentlyWatched, shape: "vertical", count: 6 %}
<a class="link-icon flex-centered" href="/watching#tv">
  <h2 id="tv" class="section-header flex-centered">
    {% tablericon "device-tv" "TV" %}
    TV
  </h2>
</a>
{% render "partials/now/media-grid.liquid", data:tv.recentlyWatched, shape: "vertical", count: 6 %}
<p class="now-explainer text-small text-centered">This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one too</a>.</p>
<p class="text-small text-centered"><em>This page was last updated on {{ "now"  | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}.</em></p>