---
layout: main
---

{% include "header.liquid" %}

<h2 class="text-xl md:text-2xl font-black leading-tight dark:text-gray-200 pt-12">{{title}}</h2>
<div class="mt-2 mb-6 text-sm">
    {{ date | date: "%m.%d.%Y" }}
</div>

<div class="prose dark:prose-invert hover:prose-a:text-blue-500  max-w-full text-gray-800 dark:text-white">
  {{ content }}
</div>
{% include "webmentions.liquid" %}
{% include "author.liquid" %}
