---
layout: default
pagination:
  data: movies.movies
  size: 1
  alias: movie
permalink: "{{ movie.url }}/index.html"
schema: movie
---
{%- capture alt -%}
  {{ movie.title }} / {{ movie.year }}{% if move.rating %} ({{ movie.rating }}){% endif %}
{%- endcapture -%}
<a class="icon-link" href="/watching" title="Go back to the watching index page">{% tablericon "arrow-left" %} Back to watching</a>
<article class="watching-focus">
  <img
    srcset="
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannersm&type=webp 256w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannermd&type=webp 512w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerbase&type=webp 1024w
    "
    sizes="(max-width: 450px) 256px,
      (max-width: 850px) 512px,
      1024px"
    src="https://cdn.coryd.dev{{ movie.backdrop }}?class=bannersm&type=webp"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="256"
    height="180"
  />
  <div class="watching-meta">
    <p class="title"><strong>{{ movie.title }}</strong>{%- if movie.year and not movie.rating %} ({{ movie.year }}){%- endif -%}</p>
    {%- if movie.rating -%}
      <p>
        {{ movie.rating }}
        {%- if movie.year %}
          ({{ movie.year }})
        {%- endif -%}
      </p>
    {% endif -%}
    {%- if movie.favorite -%}
      <p class="sub-meta favorite">{% tablericon "heart" %} This is one of my favorite movies!</p>
    {%- endif -%}
    {%- if movie.tattoo -%}
      <p class="sub-meta tattoo">{% tablericon "needle" %} I have a tattoo inspired by this movie!</p>
    {%- endif -%}
    {%- if movie.collected -%}
      <p class="sub-meta collected">{% tablericon "circle-check" %} This movie is in my collection!</p>
    {%- endif -%}
    {%- if movie.lastWatched -%}<p class="sub-meta">Last watched on {{ movie.lastWatched | date: "%B %e, %Y" }}.</p>{%- endif -%}
  </div>
  {% if movie.review %}
  {% render "partials/blocks/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
  <h2>My thoughts</h2>
  {{ movie.review | markdown }}
  <hr />
  {% endif %}
  {% render "partials/blocks/associated-media.liquid", posts:movie.posts %}
  {% render "partials/blocks/associated-media.liquid", movies:movie.related_movies %}
  {% render "partials/blocks/associated-media.liquid", shows:movie.shows %}
  {% render "partials/blocks/associated-media.liquid", artists:movie.artists %}
  {% render "partials/blocks/associated-media.liquid", books:movie.books %}
  {% render "partials/blocks/associated-media.liquid", genres:movie.genres %}
  {% if movie.description %}
    <h2>Overview</h2>
    {{ movie.description | markdown }}
  {% endif %}
</article>