---
layout: default
pagination:
  data: movies.movies
  size: 1
  alias: movie
permalink: "{{ movie.url }}/index.html"
schema: movie
---
{%- capture alt -%}
  {{ movie.title }} / {{ movie.year }}{% if move.rating %} ({{ movie.rating }}){% endif %}
{%- endcapture -%}
<a class="icon-link" href="/watching" title="Go back to the watching index page">{% tablericon "arrow-left" "Go back to the watching index page" %} Back to watching</a>
<article class="watching-focus">
  <img
    srcset="
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannersm 256w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannermd 512w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerbase 1024w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerlg 2048w
    "
    sizes="(max-width: 450px) 256px,
      (max-width: 850px) 512px,
      (max-width: 1000px) 1024px,
      2048px"
    src="https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerlg"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="1080"
    height="720"
  />
  <div class="watching-meta">
    <p class="title"><strong>{{ movie.title }}</strong>{%- if movie.year and not movie.rating %} ({{ movie.year }}){%- endif -%}</p>
    <p>
      {%- if movie.rating -%}
        {{ movie.rating }}
        {%- if movie.year %}
          ({{ movie.year }})
        {%- endif -%}
      {% endif -%}
    </p>
    {%- if movie.favorite -%}
      <p class="sub-meta favorite">{% tablericon "heart" "Favorite" %} This is one of my favorite movies!</p>
    {%- endif -%}
    {%- if movie.tattoo -%}
      <p class="sub-meta tattoo">{% tablericon "needle" "Tattoo" %} I have a tattoo inspired by this movie!</p>
    {%- endif -%}
    {% if movie.lastWatched %}<p class="sub-meta">Last watched on {{ movie.lastWatched | date: "%B %e, %Y" }}.</p>{% endif %}
  </div>
  {% if movie.review %}
  {% render "partials/blocks/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
  <h3>My thoughts</h3>
  {{ movie.review | markdown }}
  <hr />
  {% endif %}
  {% render "partials/blocks/associated-media.liquid", posts:movie.posts %}
  {% render "partials/blocks/associated-media.liquid", movies:movie.relatedMovies %}
  {% render "partials/blocks/associated-media.liquid", shows:movie.shows %}
  {% render "partials/blocks/associated-media.liquid", artists:movie.artists %}
  {% render "partials/blocks/associated-media.liquid", books:movie.books %}
  {% render "partials/blocks/associated-media.liquid", genres:movie.genres %}
  {% if movie.description %}
    <h3>Overview</h3>
    {{ movie.description | markdown }}
  {% endif %}
</article>