---
layout: default
pagination:
  data: tv.shows
  size: 1
  alias: show
permalink: "{{ show.url }}/index.html"
schema: show
---
{%- capture alt -%}
  {{ show.title }} / {{ show.year }}
{%- endcapture -%}
<a class="icon-link" href="/watching" title="Go back to the watching index page">{% tablericon "arrow-left" %} Back to watching</a>
<article class="watching focus">
  <img
    srcset="
      https://cdn.coryd.dev{{ show.backdrop }}?class=bannersm&type=webp 256w,
      https://cdn.coryd.dev{{ show.backdrop }}?class=bannermd&type=webp 512w,
      https://cdn.coryd.dev{{ show.backdrop }}?class=bannerbase&type=webp 1024w
    "
    sizes="(max-width: 450px) 256px,
      (max-width: 850px) 512px,
      1024px"
    src="https://cdn.coryd.dev{{ show.backdrop }}?class=bannersm&type=webp"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="256"
    height="180"
  />
  <div class="meta">
    <p class="title"><strong>{{ show.title }}</strong>{%- if show.year %} ({{ show.year }}){%- endif -%}</p>
    {%- if show.favorite -%}
      <p class="sub-meta favorite">{% tablericon "heart" %} This is one of my favorite shows!</p>
    {%- endif -%}
    {%- if show.tattoo -%}
      <p class="sub-meta tattoo">{% tablericon "needle" %} I have a tattoo inspired by this show!</p>
    {%- endif -%}
    {%- if show.collected -%}
      <p class="sub-meta collected">{% tablericon "circle-check" %} This show is in my collection!</p>
    {%- endif -%}
    {%- if show.episode.formatted_episode -%}
      {%- capture lastWatchedText -%}
        I last watched <strong class="highlight-text">{{ show.episode.formatted_episode }}</strong> on {{ show.episode.last_watched_at | date: "%B %e, %Y" }}.
      {%- endcapture -%}
      <p class="sub-meta">{{ lastWatchedText }}</p>
    {%- endif -%}
  </div>
  {% if show.review %}
  {% render "partials/blocks/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
  <h2>My thoughts</h2>
  {{ show.review | markdown }}
  <hr />
  {% endif %}
  {% render "partials/blocks/associated-media.liquid", posts:show.posts %}
  {% render "partials/blocks/associated-media.liquid", artists:show.artists %}
  {% render "partials/blocks/associated-media.liquid", shows:show.related_shows %}
  {% render "partials/blocks/associated-media.liquid", movies:show.movies %}
  {% render "partials/blocks/associated-media.liquid", books:show.books %}
  {% if show.description %}
    <h2>Overview</h2>
    {{ show.description | markdown }}
  {% endif %}
</article>