---
layout: default
pagination:
  data: tv.shows
  size: 1
  alias: show
permalink: "{{ show.url }}/index.html"
schema: show
---
{%- capture alt -%}
  {{ show.title }} / {{ show.year }}
{%- endcapture -%}
{% assign lastWatched = show | getLastWatched %}
<a class="back-link-header link-icon" href="/watching" title="Go back to the watching index page">{% tablericon "arrow-left" "Go back to the watching index page" %} Back to watching</a>
<article class="watching-focus">
  <img
    srcset="
      https://cdn.coryd.dev{{ show.backdrop }}?class=bannersm 256w,
      https://cdn.coryd.dev{{ show.backdrop }}?class=bannermd 512w,
      https://cdn.coryd.dev{{ show.backdrop }}?class=bannerbase 1024w,
      https://cdn.coryd.dev{{ show.backdrop }}?class=bannerlg 2048w
    "
    sizes="(max-width: 450px) 256px,
      (max-width: 850px) 512px,
      (max-width: 1000px) 1024px,
      2048px"
    src="https://cdn.coryd.dev/{{ show.backdrop }}?class=bannerlg"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="1080"
    height="720"
  />
  <div class="watching-meta">
    <p class="title"><strong>{{ show.title }}</strong>{%- if show.year %} ({{ show.year }}){%- endif -%}</p>
    {%- if lastWatched -%}
      {%- capture lastWatchedText -%}
        {%- if show.episodes -%}
          I last watched <strong class="highlight-text">{{ show.episodes | lastWatchedEpisode }}</strong> on {{ lastWatched | date: "%B %e, %Y" }}.
        {%- else -%}
          Last watched on {{ lastWatched | date: "%B %e, %Y" }}.
        {%- endif -%}
      {%- endcapture -%}
      <p class="sub-meta">{{ lastWatchedText }}</p>
    {%- endif -%}
    <p class="sub-meta"><a href="https://themoviedb.org/tv/{{ show.tmdb_id }}" title="View {{ show.title | escape }} on TMDB">View on TMDB</a></p>
  </div>
  {% if show.review %}
    {% render "partials/blocks/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
    <h3>My thoughts</h3>
    {{ show.review | markdown }}
    <hr />
  {% endif %}
  {% if show.description %}
    <h3>Overview</h3>
    {{ show.description | markdown }}
  {% endif %}
</article>