table {
  max-width: unset;
  margin: unset;
  overflow-x: unset;
}

table > tbody,
table > tbody th,
table > tbody td {
  width: 100%;
}

.blog--roll__icons {
  display: flex;
  flex-direction: row;
  gap: var(--sizing-xs);
}

.blog--roll__icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
}