.book-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: var(--spacing-base);
    align-items: start;
  }

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;

    & .media-meta .description {
      margin-bottom: 0;
    }
  }

  & a:has(img) {
    display: flex;
  }

  & img {
    max-width: calc(var(--sizing-3xl) * 4);
    height: auto;
    aspect-ratio: var(--aspect-ratio-vertical);
  }

  & .media-meta {
    margin-top: var(--sizing-base);
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      align-items: start;
    }

    & .description {
      margin-bottom: var(--spacing-base);
    }

    & .progress-bar-wrapper {
      max-width: 75%;
      margin-bottom: 0;

      @media screen and (min-width: 768px) {
        margin-top: 0;
        max-width: 50%;
      }
    }
  }
}

.book-focus {
  margin-top: var(--spacing-base);
  border-bottom: 0;

  & .book-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-base);
    margin-bottom: var(--spacing-base);

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: start;
    }

    & .media-meta {
      width: 100%;
      align-items: center;

      @media screen and (min-width: 768px) {
        width: auto;
        align-items: start;
      }

      & .progress-bar-wrapper {
        max-width: 50%;

        @media screen and (min-width: 768px) {
          max-width: none;
        }
      }
    }
  }
}
