.contact-wrapper {
  display: flex;
  flex-direction: column;

  & textarea {
    height: calc(var(--sizing-3xl) * 5);
    resize: none;
  }

  & .column.description p:first-child {
    margin-top: 0;
  }
}

.contact-success-header {
  margin: 0 0 var(--sizing-lg);
}

@media screen and (min-width: 768px) {
  .contact-wrapper {
    flex-direction: row;

    & .column {
      width: 50%;
    }

    & .column.description {
      padding-right: var(--sizing-xl);
    }
  }
}