.contact-wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  & textarea {
    height: calc(var(--sizing-3xl) * 5);
    resize: none;
  }

  & .column {
    @media screen and (min-width: 768px) {
      width: 50%;
    }

    &.description {
      & p:first-of-type {
        margin-top: 0;
      }

      @media screen and (min-width: 768px) {
        padding-right: var(--spacing-xl);
      }
    }
  }
}

.contact-success-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;

  h2 {
    margin: 0;
  }
}