.contact-wrapper {
  display: flex;
  flex-direction: column;

  & textarea {
    height: calc(var(--sizing-3xl) * 5);
    resize: none;
  }

  & .column.description p:first-of-type {
    margin-top: 0;
  }
}

.contact-success-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

@media screen and (min-width: 768px) {
  .contact-wrapper {
    flex-direction: row;

    & .column {
      width: 50%;
    }

    & .column.description {
      padding-right: var(--sizing-xl);
    }
  }
}