.artist-focus,
.genre-focus {
  border-bottom: 0;
}

.genre-focus [data-toggle-content] p:last-of-type {
  font-size: var(--font-size-sm);
}

.artist-focus {
  margin-top: var(--spacing-base);

  & img {
    border: var(--border-default);
    border-radius: var(--border-radius-slight);
    width: 100%;
    height: auto;
    aspect-ratio: var(--aspect-ratio-square);

    @media screen and (min-width: 768px) {
      max-width: 240px;
    }
  }

  & .artist-display {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-base);

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: var(--spacing-md);
    }

    & .artist-meta {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
      margin-top: var(--spacing-base);

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }

      & p {
        margin: 0;

        &.title {
          font-size: var(--font-size-xl);
          line-height: var(--line-height-md);
        }

        &.sub-meta {
          font-size: var(--font-size-sm);

          & svg {
            width: var(--sizing-svg-sm);
            height: var(--sizing-svg-sm);
          }
        }
      }
    }
  }

  & table + p {
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-base);
    margin-bottom: 0;
  }
}

.concert-list {
  margin-top: 0;
  padding-left: 0;

  & li .modal-toggle {
    height: calc(var(--sizing-lg) * 1.6);
  }
}

p.concerts + ul + hr {
  display: none;
}