/* now */
.now-text {
  padding-left: var(--sizing-base);

  & p {
    margin: var(--sizing-xs) 0;

    & > svg {
      display: inline;
      vertical-align: middle;
      height: var(--sizing-base);
      width: var(--sizing-base);
    }
  }
}

.link-list {
  margin-top: 0;
}