/* now */
.now__section--text {
  padding-left: var(--sizing-base);
}

.now__section--text p {
  margin: var(--sizing-xs) 0;
}

.now__section--text p > svg {
  display: inline;
  vertical-align: middle;
  height: var(--sizing-base);
  width: var(--sizing-base);
}

.now__section--header,
.recent__links-header {
  margin: var(--sizing-3xl) 0 var(--sizing-lg);
}

.now__section--header:first-of-type {
  margin-top: 0;
}

.link__list {
  margin-top: 0;
}

.now__explainer {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding-top: var(--sizing-lg);
}

@media screen and (min-width: 768px) {
  .now__section--text {
    padding-left: var(--sizing-3xl);
  }
}