/* embeds */
.eleventy-plugin-youtube-embed {
  margin-bottom: var(--sizing-lg);
}

/* footnotes */
hr.footnotes-sep {
  margin: var(--sizing-base) 0;
}

.footnotes-list {
  margin-bottom: 0;
  padding-left: 0;

  & li:last-child {
    margin-bottom: 0;
  }
}

.footnotes {
  padding-bottom: var(--sizing-base);
}

.footnote-item > p {
  display: inline;
}