article.standalone .associated-media:last-of-type > hr {
  display: none;
}

p + .associated-media,
img + .associated-media,
.banner + .associated-media,
youtube-video + .associated-media {
  margin-top: var(--sizing-base);
  border-top: var(--border-gray)
}

.footnotes {
  & .footnotes-list {
    margin-bottom: 0;
    padding-left: 0;

    & li:last-child {
      margin-bottom: 0;
    }

    & .footnote-item > p {
      display: inline;
    }
  }

  & ~ youtube-video {
    margin-top: var(--sizing-base);
  }

  & + .associated-media {
    margin-top: var(--sizing-base);
    border-top: var(--border-gray);
  }
}

sup.footnote-ref {
  line-height: var(--line-height-xs);
}

sup.footnote-ref a,
.footnote-backref {
  text-decoration: none;
}