.watching {
  & a:focus img,
  & a:focus-within img {
    border: 0
  }

  & a:focus .shadow::after,
  & a:focus-within .shadow::after {
    left: 0;
    width: 100%;
    height: 100%
  }

  & img {
    border: var(--border-default);
    width: 100%;
    height: auto;
  }

  &.hero {
    position: relative;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-banner);

    & img {
      aspect-ratio: var(--aspect-ratio-banner);
    }

    & div.meta-text {
      color: white;
      position: absolute;
      left: var(--sizing-sm);
      bottom: var(--sizing-sm);
      z-index: 2;
      display: flex;
      flex-direction: column;

      & .header {
        font-weight: var(--font-weight-bold);
      }

      & .subheader {
        font-size: var(--font-size-sm);
        display: inline-flex;
        gap: var(--sizing-xs)
      }

      & .header,
      & .subheader {
        line-height: 1.5;
        text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
      }
    }

    &.shadow::after {
      position: absolute;
      z-index: 1;
      content: '';
      bottom: 1px;
      left: 1px;
      box-shadow: inset 0 -85px 60px -65px var(--black);
      width: calc(100% - 2px);
      height: calc(100% - 1px);
    }
  }

  &.grid {
    display: grid;
    gap: var(--sizing-sm);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: var(--sizing-base);

    & a {
      display: flex;
      aspect-ratio: var(--aspect-ratio-banner);
    }

    & div {
      position: relative;

      & .meta-text {
        position: absolute;
        z-index: 2;
        padding: 0 var(--sizing-sm);
        bottom: var(--sizing-sm);
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        & .header,
        & .subheader,
        & .rating {
          color: var(--color-lightest);
          font-size: var(--font-size-sm);
          line-height: 1.5;
          text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
        }

        & .header {
          font-weight: var(--font-weight-bold);
        }

        .subheader {
          gap: var(--sizing-xs);
        }

        & .rating {
          font-size: calc(var(--font-size-sm) * .75);
        }
      }
    }
  }

  &.item {
    position: relative;
    display: flex;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-banner);

    &.shadow::after {
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      left: 1px;
      box-shadow: inset 0 -85px 60px -65px var(--black);
      width: calc(100% - 2px);
      height: calc(100% - 1px);
    }
  }
}

.watching-focus {
  margin-top: var(--sizing-base);
  border-bottom: 0;

  & img {
    aspect-ratio: var(--aspect-ratio-banner);
  }

  & .watching-meta {
    display: flex;
    flex-direction: column;
    gap: var(--sizing-sm);
    margin: var(--sizing-base) 0;

    & p {
      margin: 0;

      &.title {
        font-size: var(--font-size-xl);
        line-height: 1.5;
      }

      &.sub-meta {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
      }
    }
  }

  & .footnotes {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .watching.grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}