a:focus > .watching.hero::after,
a:focus-within > .watching.hero::after {
  border: 0;
  outline: var(--outline-default);
}

a:hover > .watching.hero::after,
a:active > .watching.hero::after {
  border-color: var(--accent-color-hover);
}

.watching {
  & img {
    border-radius: var(--border-radius-slight);
    width: 100%;
    height: auto;
  }

  &.hero {
    position: relative;
    display: flex;
    aspect-ratio: var(--aspect-ratio-banner);

    & img {
      aspect-ratio: var(--aspect-ratio-banner);
      border-radius: var(--border-radius-slight);
    }

    & .meta-text {
      color: white;
      position: absolute;
      left: var(--spacing-sm);
      bottom: var(--spacing-sm);
      z-index: 2;
      display: flex;
      flex-direction: column;

      & .header {
        font-weight: var(--font-weight-bold);
      }

      & .subheader {
        font-size: var(--font-size-sm);
        display: inline-flex;
        gap: var(--spacing-xs)
      }

      & .header,
      & .subheader {
        line-height: var(--line-height-md);
        text-shadow: var(--text-shadow-default);
      }
    }

    &::after {
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      left: 0;
      box-shadow: var(--box-shadow-media);
      width: 100%;
      height: 100%;
      border: var(--border-default);
      border-radius: var(--border-radius-slight);
      transition-property: border-color;
      transition-timing-function: var(--transition-ease-in-out);
      transition-duration: var(--transition-duration-default);
    }
  }

  &.grid {
    display: grid;
    gap: var(--spacing-sm);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: var(--spacing-base);

    & a {
      display: flex;
      aspect-ratio: var(--aspect-ratio-banner);
    }

    & a:hover .item::after,
    & a:active .item::after {
      border-color: var(--accent-color-hover)
    }

    & a:focus .item::after,
    & a:focus-within .item::after {
      border: 0;
      outline: var(--outline-default);
    }

    & div {
      position: relative;

      & .meta-text {
        position: absolute;
        z-index: 2;
        padding: 0 var(--spacing-sm);
        bottom: var(--spacing-sm);
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        & .header,
        & .subheader,
        & .rating {
          color: var(--color-lightest);
          font-size: var(--font-size-sm);
          line-height: var(--line-height-md);
          text-shadow: var(--text-shadow-default);
        }

        & .header {
          font-weight: var(--font-weight-bold);
        }

        .subheader {
          gap: var(--spacing-xs);
        }

        & .rating {
          font-size: calc(var(--font-size-sm) * .75);
        }
      }
    }
  }

  &.item {
    position: relative;
    display: flex;
    overflow: hidden;
    aspect-ratio: var(--aspect-ratio-banner);

    &::after {
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      left: 0;
      box-shadow: var(--box-shadow-media);
      width: 100%;
      height: 100%;
      border: var(--border-default);
      border-radius: var(--border-radius-slight);
      transition-property: border-color;
      transition-timing-function: var(--transition-ease-in-out);
      transition-duration: var(--transition-duration-default);
    }
  }
}

.watching-focus {
  margin-top: var(--spacing-base);
  border-bottom: 0;

  & img {
    aspect-ratio: var(--aspect-ratio-banner);
  }

  & .watching-meta {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin: var(--margin-vertical-base-horizontal-zero);

    & p {
      margin: 0;

      &.title {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-md);
      }

      &.sub-meta {
        font-size: var(--font-size-sm);

        & svg {
          width: var(--sizing-svg-sm);
          height: var(--sizing-svg-sm);
        }
      }
    }
  }

  & .footnotes {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .watching.grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}