---
title: Links
layout: default
pagination:
  data: links
  size: 30
permalink: "/links/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html"
---
{% if pagination.pageNumber == 0 %}
<h2 class="page-header">Links</h2>
<p>These are links I've liked or otherwise found interesting. They're all added manually, after having been read and, I suppose, properly considered. Authors are associated with domains using a simple key-value map.</p>
{% render "partials/banners/rss.liquid", url: "https://feedpress.me/coryd-links", text: "Subscribe to my links feed or follow along on this page" %}
<hr />
{% endif %}
<div class="link-grid">
  {% for link in pagination.items %}
  <div class="link-box">
    <a href="{{ link.link }}" title="{{ link.title | escape }}">
      <strong>{{ link.title }}</strong>
    </a>
    {% if link.authors %} via <a href="{{ link.authors.url }}">{{ link.authors.name }}</a>{% endif %}
  </div>
  {% endfor %}
</div>
{% render "partials/widgets/paginator.liquid", pagination:pagination %}