{% if albumReleases.size > 0 %}
  <h2 id="album-releases" class="flex--centered">
    {% tablericon "calendar-time" "Anticipated albums" %}
    Anticipated albums
  </h2>
  <ul class="link__list">
    {% for album in albumReleases %}
      <li>
        <strong>{{ album.date | readableDate }}: </strong>
        <a href="https://{{album.url}}" title="{{album.title | escape}}">
          {{album.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
