{% if books.size > 0 %}
  <h2 class="icon--bold m-0 text-xl flex flex-row items-center font-black leading-tight tracking-normal dark:text-gray-200 md:text-2xl mt-8 mb-4 icon--h-28">
    {% tablericon "books" "Books" %}
    <div class="ml-1">Books</div>
  </h2>
  <div class="grid grid-cols-3 gap-2 md:grid-cols-6 not-prose">
    {% for book in books %}
      <a href="{{book.link}}" title="{{book.title | escape}}">
        <div class="relative block" style="max-width:226px">
          <div class="absolute left-0 top-0 h-full w-full rounded-lg border border-purple-600 hover:border-purple-500 dark:border-purple-400 dark:hover:border-purple-500"></div>
          {%- capture bookImg %}{{book.image}}{% endcapture -%}
          {%- capture bookName %}{{book.title | escape}}{% endcapture -%}
          {% image bookImg, bookName, 'rounded-lg w-full h-full', '180px' %}
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}