{% if links.size > 0 %}
  <h2 class="now__section--header flex--centered">
    {% tablericon "link" "Links" %}
    Links
  </h2>
  <ul>
    {% for link in links limit: 5 %}
      <li>
        <a class="no-underline" href="{{link.url}}" title="{{link.title | escape}}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
