<p id="now-playing" class="client-side mb-0 flex flex-row items-start md:items-center">
  <span id="now-playing-loading" class="icon--spin">
    {% tablericon 'loader-2' 'Loading...' %}
  </span>
  <span id="now-playing-display" class="flex flex-row items-center">
    <span id="now-playing-emoji" class="mr-1"></span>
    <span id="now-playing-content"></span>
  </span>
</p>