<p id="now-playing" class="now-playing client-side">
  <span id="now-playing-loading" class="icon--spin">
    {% tablericon 'loader-2' 'Loading...' %}
  </span>
  <span id="now-playing-display">
    <span id="now-playing-content"></span>
  </span>
</p>