{% if percentage %}
{% capture css %}
  {% render "../../../assets/styles/widgets/progress-bar.css" %}
{% endcapture %}
<style>
  {{ css | cssmin }}
</style>
<div class="progress-bar__wrapper">
  <div style="width:{{ percentage }}" class="progress-bar"></div>
</div>
{% endif %}