<div class="border-b border-gray-200 dark:border-gray-700 mb-8 pb-8">
  <h2 class="m-0 mb-4 inline">
    <a class="text-gray-700 dark:text-gray-200 text-xl font-black leading-tight tracking-normal md:text-2xl no-underline not-prose" href="/now">
      Now
    </a>
  </h2>
  <div class="dark:text-white text-gray-800">
    <p>I'm a software developer in Camarillo, California. I enjoy hanging out with my beautiful family and 4 rescue dogs, technology, automation,
      <a href="https://www.last.fm/user/cdrn_" rel="noopener noreferrer">music</a>, writing,
      <a href="https://www.goodreads.com/user/show/168570560-cory-dransfeldt" rel="noopener noreferrer">reading</a>,
      <a href="https://trakt.tv/users/cdransf" rel="noopener noreferrer">tv</a>
      and
      <a href="https://trakt.tv/users/cdransf" rel="noopener noreferrer">movies</a>.</p>
    {% render "partials/now/status.liquid", status:status %}
    {% render "partials/now/playing.liquid" %}
  </div>
</div>