<div class="now__topper">
  <h2>
    <a class="no-underline" href="/now">Now</a>
  </h2>
  <div class="dark:text-white text-gray-800">
    <p>I'm a software developer in Camarillo, California. I enjoy hanging out with my beautiful family and 4 rescue dogs, technology, automation, <a href="https://last.fm/user/coryd_" rel="noopener noreferrer">music</a>, writing, <a href="https://app.thestorygraph.com/profile/coryd" rel="noopener noreferrer">reading</a>, <a href="https://trakt.tv/users/cdransf" rel="noopener noreferrer">tv</a> and <a href="https://trakt.tv/users/cdransf" rel="noopener noreferrer">movies</a>.</p>
    {% render "partials/now/status.liquid", status:status %}
    {% render "partials/now-playing.liquid" %}
  </div>
</div>