<nav aria-label="Primary site navigation">
  <ul class="flex--centered">
    {% for link in nav.menu %}
      <li>
        {% render "partials/nav/link.liquid", page: page, link: link.name, icon: link.icon, class: link.class %}
      </li>
    {% endfor %}
    {% render "partials/nav/theme.liquid" %}
  </ul>
</nav>
