<nav>
  <ul class="flex">
    {% for link in nav.menu %}
      <li class="mr-6">
        {% render "partials/nav/link.liquid", page: page, link: link.name, icon: link.icon %}
      </li>
    {% endfor %}
  </ul>
</nav>