<nav
  class="menu--primary flex--centered flex--wrap justify--center"
  aria-label="Primary site navigation">
  {% for link in nav.menu %}
    {% render "partials/nav/link.liquid", page:page, link:link.name, icon:link.icon %}
  {% endfor %}
  {% render "partials/nav/theme-toggle.liquid" %}
</nav>
