<script type="module" src="/assets/scripts/components/theme-toggle.js"></script>
{% capture css %}
  {% render "../../../assets/styles/components/theme-toggle.css" %}
{% endcapture %}
<style>{{ css }}</style>
<li class="client-side">
  <theme-toggle>
    <button
      class="theme__toggle"
      aria-label="Toggle site theme">
      <span class="light">
        {% tablericon "sun" "Toggle light theme" %}
      </span>
      <span class="dark">
        {% tablericon "moon" "Toggle dark theme" %}
      </span>
    </button>
  </theme-toggle>
</li>