<li class="theme__toggle client-side">
  <span class="placeholder">
    {% tablericon "placeholder" "Toggle theme placeholder" %}
  </span>
  <span class="light">
    {% tablericon "sun" "Toggle light theme" %}
  </span>
  <span class="dark">
    {% tablericon "moon" "Toggle dark theme" %}
  </span>
</li>