<script type="module" src="/assets/scripts/components/theme-toggle.js"></script>
<span class="client-side">
  <theme-toggle>
    <button
      class="theme-toggle"
      aria-label="Toggle site theme">
      <span class="light">
        {% tablericon "sun" "Toggle light theme" %}
      </span>
      <span class="dark">
        {% tablericon "moon" "Toggle dark theme" %}
      </span>
    </button>
  </theme-toggle>
</span>