::placeholder {
  color: var(--text-color) !important;
  opacity: .5 !important;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  /* necessary for pagefind overrides */
  font-family: var(--font-sans) !important;
  color: var(--text-color) !important;
  background-color: var(--background-color) !important;
  border: 1px solid var(--accent-color) !important;
  padding: .5rem !important;
  font-size: var(--font-size-base) !important;
  width: 100% !important;
  border-radius: var(--rounded-md) !important;
  /* necessary for pagefind overrides */

  outline: none;
  margin-bottom: 1.5rem;
  font-weight: 400 !important;
  line-height: var(--line-height-base);
  transition-property: border-color;
  transition-timing-function: var(--transition-ease-in-out);
  transition-duration: var(--transition-duration-default);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"],
textarea:focus {
  border: 1px solid var(--accent-color-hover) !important;
}