.pagefind-ui {
  margin-bottom: 2rem;
  --pagefind-ui-primary: var(--accent-color);
  --pagefind-ui-text: var(--text-color);
  --pagefind-ui-background: var(--color-lightest);
  --pagefind-ui-border: var(--gray-light);
  --pagefind-ui-tag: var(--gray-light);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 0;
  --pagefind-ui-image-border-radius: 0;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: var(--font-sans);
}

.pagefind-ui,
.pagefind-ui__filter-name,
.pagefind-ui__filter-label,
.pagefind-ui__result-excerpt,
.pagefind-ui__message,
.pagefind-ui__button {
  font-size: var(--font-size-base) !important;
}

.pagefind-ui__form:before {
  opacity: 1 !important;
  top: calc(19px * var(--pagefind-ui-scale)) !important;
}

.pagefind-ui__result-title {
  color: var(--accent-color);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  font-weight: 900;
  text-decoration: none;
  margin: 0;
  transition-property: color;
  transition-timing-function: var(--transition-ease-in-out);
  transition-duration: var(--transition-duration-default);
}

.pagefind-ui__result-title:hover,
.pagefind-ui__result-title:focus,
.pagefind-ui__result-title:active {
  color: var(--accent-color-hover);
}

:is(input[type="text"], input[type="search"]).pagefind-ui__search-input {
  padding-left: 2.375rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: calc(53px * var(--pagefind-ui-scale)) !important;
}

.pagefind-ui__search-clear {
  color: var(--text-color);
  background-color: transparent !important;
}

.pagefind-ui__result-title {
  margin-bottom: .25rem !important;
}

.pagefind-ui__result-link {
  font-size: var(--font-size-2xl) !important;
  color: var(--accent-color) !important;
  text-decoration: none !important;
}

.pagefind-ui__result-link:hover,
.pagefind-ui__result-link:focus,
.pagefind-ui__result-link:active {
  color: var(--accent-color-hover) !important;
}

.pagefind-ui__button {
  color: var(--color-lightest) !important;
  line-height: var(--line-height-base);
  border-radius: var(--rounded-full) !important;
  padding: .5rem 1rem !important;
  margin: 0 .25rem .75rem 0;
  cursor: pointer !important;
  height: unset !important;
  text-decoration: none;
  background-color: var(--accent-color) !important;
  transition-property: background-color;
  transition-timing-function: var(--transition-ease-in-out);
  transition-duration: var(--transition-duration-default);
}

.pagefind-ui__search-clear {
  height: calc(48px * var(--pagefind-ui-scale)) !important;
}

.pagefind-ui__button:hover,
.pagefind-ui__button:active,
.pagefind-ui__button:focus {
  color: var(--color-lightest) !important;
  background-color: var(--accent-color-hover) !important;
}