.pagination {
  justify-content: space-between;
}

.pagination button {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.pagination button > svg {
  stroke: var(--accent-color);
  cursor: pointer;
}

.pagination button.disabled > svg {
  cursor: not-allowed;
  stroke: color-mix(in srgb, var(--text-color), transparent 50%);
  stroke-width: var(--stroke-width-default);
}