.pagination {
  justify-content: space-between;
}

.pagination button {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.pagination button > svg {
  stroke: var(--blue-600);
  cursor: pointer;
}

.pagination button.disabled > svg {
  cursor: not-allowed;
  stroke: color-mix(in srgb, var(--black), transparent 50%);
  stroke-width: var(--stroke-width-default);
}

@media (prefers-color-scheme: dark) {
  .pagination button > svg {
    stroke: var(--blue-400);
  }

  .pagination button.disabled > svg {
    stroke: var(--white);
  }
}