.post-graph {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.post-graph__wrapper {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: .375rem;
}

.post-graph__progress {
  background-color: var(--blue-600);
  height: 100%;
}

.post-graph__year {
  font-family: var(--font-mono)
}

.post-graph__progress,
.post-graph__data {
  margin-left: .625rem;
}

@media (prefers-color-scheme: dark) {
  .post-graph__progress {
    background-color: var(--blue-400);
  }
}