---
layout: default
pagination:
  data: books.all
  size: 1
  alias: book
permalink: "{{ book.url }}/index.html"
isbn: {{ book.isbn }}
schema: book
---
{%- capture alt -%}
  {{ book.title }}{% if book.authors %}By {{ book.authors }}{% endif %}
{%- endcapture -%}
<a href="/books" title="Go back to the books index page">{% tablericon "arrow-left" "Go back to the books index page" %} Back to books</a>
<article class="book-focus">
  <div class="book-display">
    <img
      srcset="
        https://cdn.coryd.dev{{ book.image }}?class=verticalsm 200w,
        https://cdn.coryd.dev{{ book.image }}?class=verticalmd 400w,
        https://cdn.coryd.dev{{ book.image }}?class=verticalbase 800w,
        https://cdn.coryd.dev{{ book.image }}?class=verticallg 1200w
      "
      sizes="(max-width: 450px) 203px,
        (max-width: 850px) 406px,
        (max-width: 1000px) 812px,
        1624px"
      src="https://cdn.coryd.dev{{ book.image }}?class=verticallg"
      alt="{{ alt }}"
      loading="eager"
      decoding="async"
      width="200"
      height="307"
    />
    <div class="book-meta">
      <p class="title"><strong>{{ book.title }}</strong></p>
      {% if book.rating %}<p>{{ book.rating }}</p>{% endif %}
      {% if book.author %}
        <p class="sub-meta">By {{ book.author }}</p>
      {% endif %}
      {% if book.status == 'finished' %}
        <p class="sub-meta">Finished on: {{ book.date | date: "%B %e, %Y" }}</p>
      {% endif %}
      {% if book.status == 'started' %}
        {%- assign percentage = book.progress | append: '%' -%}
        {% render "partials/media/progress-bar.liquid", percentage:percentage %}
      {% endif %}
      <p class="sub-meta"><a href="https://openlibrary.org/isbn/{{ book.isbn }}" title="View {{ book.title | escape }} on Open Library">View on Open Library</a></p>
    </div>
  </div>
  {% if book.review %}
    {% render "partials/blocks/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
    <h3>My thoughts</h3>
    {{ book.review | markdown }}
    <hr />
  {% endif %}
  {% if book.description %}
    <h3>Overview</h3>
    {{ book.description | markdown }}
  {% endif %}
</article>