---
title: Currently reading / Books
description: Here's what I'm reading at the moment.
layout: default
permalink: "/books/index.html"
updated: "now"
schema: books
---
{%- assign bookData = books.all | bookStatus: 'started' | reverse -%}
{%- assign currentBookCount = books.all | currentBookCount -%}
<h2>Currently reading</h2>
<p>Here's what I'm reading at the moment. I've finished <strong class="highlight-text">{{ currentBookCount }} books</strong> this year.</p>
<p>{{ books.years | bookYearLinks }}</p>
{% render "partials/blocks/banners/rss.liquid", url: "/feeds/books", text: "Subscribe to my books feed or follow along on this page" %}
<hr />
{% for book in bookData %}
  {% capture alt %}{{ book.title }} by {{ book.authors }}{% endcapture %}
  <article class="book-entry">
    <a href="{{ book.url }}">
      <img
        srcset="
          https://cdn.coryd.dev{{ book.image }}?class=verticalsm&type=webp 200w,
          https://cdn.coryd.dev{{ book.image }}?class=verticalmd&type=webp 400w
        "
        sizes="(max-width: 450px) 200px,
          400px"
        src="https://cdn.coryd.dev{{ book.image }}?class=verticalsm&type=webp"
        alt="{{ alt }}"
        loading="lazy"
        decoding="async"
        width="200"
        height="307"
      />
    </a>
    <div class="book-meta">
      <a href="{{ book.url }}">
        <p class="title"><strong>{{ book.title }}</strong></p>
      </a>
      {% if book.author %}
        <p class="sub-meta">By {{ book.author }}</p>
      {% endif %}
      {% if book.progress %}
        {%- assign percentage = book.progress | append: '%' -%}
        {% render "partials/media/progress-bar.liquid", percentage:percentage %}
      {% endif %}
      {% if book.description %}<div class="description">{{ book.description | normalize_whitespace | markdown | truncatewords: 50 }}</div>{% endif %}
    </div>
  </article>
{% endfor %}