article {
  margin-bottom: var(--spacing-base);
  border-bottom: var(--border-gray);

  &:last-of-type {
    border-bottom: none;
  }

  &.standalone .associated-media:last-of-type > hr {
    display: none;
  }

  & h3 {
    margin-top: 0;
  }

  & .post-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);

    & svg {
      stroke: var(--gray-dark);
      width: var(--sizing-svg-sm);
      height: var(--sizing-svg-sm);
    }

    & time {
      color: var(--gray-dark);
      font-size: var(--font-size-sm);
    }
  }
}

p + .associated-media,
img + .associated-media,
.banner + .associated-media,
.client-side ~ .associated-media,
youtube-video + .associated-media {
  margin-top: var(--spacing-base);
  border-top: var(--border-gray);
}

.footnotes {
  & .footnotes-list {
    margin-bottom: 0;

    & li:last-child {
      margin-bottom: 0;
    }

    & .footnote-item > p {
      display: inline;
    }
  }

  &:has(~ *) {
    margin-bottom: var(--spacing-base);
    padding-bottom: var(--spacing-base);
    border-bottom: var(--border-gray);
  }

  & ~ youtube-video {
    margin-top: var(--spacing-base);
  }

  & + .associated-media {
    margin-top: var(--spacing-base);
    border-top: var(--border-gray);
  }
}

sup.footnote-ref {
  line-height: var(--line-height-xs);
}

sup.footnote-ref a,
.footnote-backref {
  text-decoration: none;
}