---
title: Tracks / 3 months
description: All of the tracks I've listened to over the last 3 months.
layout: default
pagination:
  data: music.threeMonth.tracks
  size: 50
permalink: "/music/tracks/three-months/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html"
image: music.threeMonth.artists[0].image
schema: music
---
<a class="icon-link" href="/music" title="Go back to the music index page">{% tablericon "arrow-left" %} Back to music</a>
{% if pagination.pageNumber == 0 %}
<h2>{{ title }}</h2>
<p>I've listened to <strong class="highlight-text">{{ music.threeMonth.artists.size }} artists</strong>, <strong class="highlight-text">{{ music.threeMonth.albums.size }} albums</strong> and <strong class="highlight-text">{{ music.threeMonth.totalTracks }} tracks</strong> over the last 3 months. Most of that has been {{ music.threeMonth.genres | mediaLinks: "genre", 5 }}.</p>
<p><strong class="highlight-text">See the</strong> <a href="/music/artists/three-months/">artists</a> or <a href="/music/albums/three-months/">albums</a> I've listened to over the last 3 months. <strong class="highlight-text">Or take a look at what I've listened to</strong> <a href="/music">this week</a> or <a href="/music/this-month">this month</a>.</p>
<p><a href="/music/concerts">You can also take a look at the concerts I've been to.</a></p>
<hr />
{% endif %}
{% render "partials/media/music/chart.liquid" data:pagination.items %}