<script type="module" src="/assets/scripts/components/theme-toggle.js?v={% appVersion %}" crossorigin="anonymous"></script>
<span class="client-side">
  <theme-toggle mode="control">
    <button aria-label="Auto, light, dark theme control" class="theme-toggle">
      <span class="auto">
        {% tablericon "sun-moon" %}
      </span>
      <span class="light">
        {% tablericon "sun" %}
      </span>
      <span class="dark">
        {% tablericon "moon" %}
      </span>
    </button>
  </theme-toggle>
</span>