<div class="webring__wrapper">
  <a href="https://cs.sjoy.lol">
    <h3 class="text-centered">CSS JOY Webring</h3>
  </a>
  <div class="webring__centered flex-centered">
    <a href="https://webri.ng/webring/cssjoy/previous?via=https://coryd.dev/webrings">
      {% tablericon "arrow-left" "Previous site" %}
    </a>
    <a href="https://webri.ng/webring/cssjoy/random?via=https://coryd.dev/webrings">
      {% tablericon "dice-3" "Random site" %}
    </a>
    <a href="https://webri.ng/webring/cssjoy/next?via=https://coryd.dev/webrings">
      {% tablericon "arrow-right" "Next site" %}
    </a>
  </div>
</div>