<div class="mb-4" style="border: 2px outset; text-align:center">
  <p style="margin: 0; padding: 0.1em; border: 2px inset">CSS JOY Webring</p>
  <div style="display: flex">
    <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/cssjoy/previous?via=https://example.com/path">Previous Site</a>
    <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/cssjoy/random?via=https://example.com/path">Random Site</a>
    <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/cssjoy/next?via=https://example.com/path">Next Site</a>
  </div>
</div>