<div class="webring__wrapper">
  <a class="no-underline" href="https://cs.sjoy.lol">
    <h3 class="text-center">CSS JOY Webring</h3>
  </a>
  <div class="webring__centered">
    <a href="https://webri.ng/webring/cssjoy/previous?via=https://coryd.dev/webrings">
      {% tablericon "arrow-left" "Previous site" %}
    </a>
    <a class="pill--button" href="https://webri.ng/webring/cssjoy/random?via=https://coryd.dev/webrings">
      {% tablericon "dice-3" "Random site" %}
      Random
    </a>
    <a href="https://webri.ng/webring/cssjoy/next?via=https://coryd.dev/webrings">
      {% tablericon "arrow-right" "Next site" %}
    </a>
  </div>
</div>