<div class="mb-4">
  <div class="w-full flex justify-center">
    {% image './src/assets/img/webrings/theclaw.png', 'The Claw Webring' %}
  </div>
  <h3 class="m-0 text-xl font-bold leading-tight tracking-normal dark:text-gray-200 md:text-2xl mb-6 text-center">
    The Claw Webring
  </h3>
  <div class="flex justify-center">
    <a href="https://github.com/whitep4nth3r/the-claw-webring" class="flex flex-row items-start md:items-center font-semibold py-2 px-4 rounded-full !no-underline !text-white dark:text-gray-900 bg-blue-600 dark:bg-blue-400 hover:bg-blue-800 dark:hover:bg-blue-200">
        <span class="[&>svg]:h-5 [&>svg]:w-5 icon--bold pt-1 md:pt-0 mr-1">
          {% tablericon "user-plus" "Join!" %}
        </span>
      <span>Join!</span>
    </a>
  </div>
</div>

