<div class="webring__wrapper">
  <div class="webring__centered flex-centered">
    {% image './src/assets/img/webrings/theclaw.png', 'The Claw Webring' %}
  </div>
  <h3 class="text-centered">The Claw Webring</h3>
  <div class="webring__centered flex-centered">
    <strong>
      <a class="no-underline" href="https://github.com/whitep4nth3r/the-claw-webring">Join!</a>
    </strong>
  </div>
</div>