<div class="webring__wrapper">
  <div class="webring__centered flex-centered">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/webrings/theclaw.png&fit=cover&w=200&h=169&fm=webp&q=85 200w,
        https://coryd.dev/.netlify/images/?url=/assets/img/webrings/theclaw.png&fit=cover&w=400&h=338&fm=webp&q=85 400w,
        https://coryd.dev/.netlify/images/?url=/assets/img/webrings/theclaw.png&fit=cover&w=800&h=676&fm=webp&q=85 800w,
        https://coryd.dev/.netlify/images/?url=/assets/img/webrings/theclaw.png&fit=cover&w=1600&h=1352&fm=webp&q=85 1600w
      "
      sizes="(max-width: 450px) 200px,
        (max-width: 850px) 400px,
        (max-width: 1000px) 800px,
        1600px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/webrings/theclaw.png&fit=cover&w=1600&h=1352&fm=webp&q=85"
      alt="The Claw Webring"
      loading="lazy"
      decoding="async"
      width="200"
      height="169"
    />
  </div>
  <h3 class="text-centered">The Claw Webring</h3>
  <div class="webring__centered flex-centered">
    <strong>
      <a class="no-underline" href="https://github.com/whitep4nth3r/the-claw-webring">Join!</a>
    </strong>
  </div>
</div>