<div class="webring-wrapper">
  <h3>
    <a href="https://cs.sjoy.lol">CSS JOY Webring</a>
  </h3>
  <div class="webring-navigation">
    <a href="https://webri.ng/webring/cssjoy/previous?via=https://coryd.dev/webrings">
      {% tablericon "arrow-left" "Previous site" %}
    </a>
    <a href="https://webri.ng/webring/cssjoy/random?via=https://coryd.dev/webrings">
      {% tablericon "dice-3" "Random site" %}
    </a>
    <a href="https://webri.ng/webring/cssjoy/next?via=https://coryd.dev/webrings">
      {% tablericon "arrow-right" "Next site" %}
    </a>
  </div>
</div>