---
layout: default
pagination:
  data: movies.movies
  size: 1
  alias: movie
permalink: /watching/movies/{{ movie.id }}/index.html
schema: movie
---
{%- capture alt -%}
  {{ movie.title }} / {{ movie.year }}{% if move.rating %} ({{ movie.rating }}){% endif %}
{%- endcapture -%}
<a class="back-link-header link-icon" href="/watching" title="Go back to the watching index page">{% tablericon "arrow-left" "Go back to the watching index page" %} Back to watching</a>
<article class="watching-focus">
  <img
    srcset="
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannersm 256w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannermd 512w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerbase 1024w,
      https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerlg 2048w
    "
    sizes="(max-width: 450px) 256px,
      (max-width: 850px) 512px,
      (max-width: 1000px) 1024px,
      2048px"
    src="https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerlg"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="1080"
    height="720"
  />
  <div class="watching-meta">
    <p class="title"><strong>{{ movie.title }}</strong></p>
    {% if movie.rating %}<p class="rating">{{ movie.rating }}</p>{% endif %}
    {% if movie.lastWatched %}<p class="sub-meta">Last watched on {{ movie.lastWatched | date: "%B %e, %Y" }}</p>{% endif %}
    <p class="sub-meta"><a href="https://themoviedb.org/movie/{{ movie.id }}" title="View {{ movie.title | escape }} on TMDB">View on TMDB</a></p>
  </div>
  {% if movie.review %}
    {% render "partials/blocks/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
    {{ movie.review | markdown }}
    <hr />
  {% endif %}
  {% if movie.description %}
    <h3>Overview</h3>
    {{ movie.description | markdown }}
  {% endif %}
</article>