---
layout: default
pagination:
  data: movies.movies
  size: 1
  alias: movie
permalink: /watching/movies/{{ movie.id }}/index.html
schema: movie
---
{%- capture alt -%}
  {{ movie.title }} • {{ movie.year }}{% if move.rating %} ({{ movie.rating }}){% endif %}
{%- endcapture -%}
<a class="back-link-header link-icon flex-centered" href="/watching">{% tablericon "arrow-left" "Go back" %} Go back</a>
<article class="watching-focus">
  <img
    srcset="
      https://coryd.dev/.netlify/images/?url={{ movie.backdrop }}&fit=cover&w=256&h=144&fm=webp&q=85 256w,
      https://coryd.dev/.netlify/images/?url={{ movie.backdrop }}&fit=cover&w=512&h=288&fm=webp&q=85 512w,
      https://coryd.dev/.netlify/images/?url={{ movie.backdrop }}&fit=cover&w=1024&h=576&fm=webp&q=85 1024w,
      https://coryd.dev/.netlify/images/?url={{ movie.backdrop }}&fit=cover&w=2048&h=1152&fm=webp&q=85 2048w
    "
    sizes="(max-width: 450px) 256px,
      (max-width: 850px) 512px,
      (max-width: 1000px) 1024px,
      2048px"
    src="https://coryd.dev/.netlify/images/?url={{ movie.backdrop }}&fit=cover&w=2048&h=1152&fm=webp&q=85"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="768"
    height="432"
  />
  <div class="watching-meta">
    <p class="title"><strong>{{ movie.title }}</strong></p>
    {% if movie.rating %}<p class="rating">{{ movie.rating }}</p>{% endif %}
    {% if movie.lastWatched %}<p class="sub-meta">Last watched on: {{ movie.lastWatched | date: "%B %e, %Y" }}</p>{% endif %}
    <p class="sub-meta"><a href="https://themoviedb.org/movie/{{ movie.id }}">View on TMDB</a></p>
  </div>
  {% if movie.review %}
    {% render "partials/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
    <p>{{ movie.review | markdown }}</p>
    <hr class="large-spacing" />
  {% endif %}
  {% if movie.description %}<p><em>{{ movie.description }}</em></p>{% endif %}
</article>