---
layout: default
pagination:
  data: movies.movies
  size: 1
  alias: movie
permalink: /watching/movies/{{ movie.id }}/index.html
schema: movie
---
{%- capture alt -%}
  {{ movie.title }} • {{ movie.year }}{% if move.rating %} ({{ movie.rating }}){% endif %}
{%- endcapture -%}
<a class="back-link-header link-icon flex-centered" href="/watching" title="Go back to the watching index page">{% tablericon "arrow-left" "Go back" %} Go back</a>
<article class="watching-focus">
  <img
    src="{{ movie.backdrop }}"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="768"
    height="432"
  />
  <div class="watching-meta">
    <p class="title"><strong>{{ movie.title }}</strong></p>
    {% if movie.rating %}<p class="rating">{{ movie.rating }}</p>{% endif %}
    {% if movie.lastWatched %}<p class="sub-meta">Last watched on: {{ movie.lastWatched | date: "%B %e, %Y" }}</p>{% endif %}
    <p class="sub-meta"><a href="https://themoviedb.org/movie/{{ movie.id }}" title="View {{ movie.title | escape }} on TMDB">View on TMDB</a></p>
  </div>
  {% if movie.review %}
    {% render "partials/banners/warning.liquid", text: "There are probably spoilers after this banner — this is a warning about them." %}
    {{ movie.review | markdown }}
    <hr class="large-spacing" />
  {% endif %}
  {% if movie.description %}<em>{{ movie.description }}</em>{% endif %}
</article>