---
layout: default
pagination:
  data: tv.shows
  size: 1
  alias: show
permalink: /watching/shows/{{ show.tmdb_id }}/index.html
schema: show
---
{%- capture alt -%}
  {{ show.title }} / {{ show.year }}
{%- endcapture -%}
{% assign lastWatched = show | getLastWatched %}
<a class="back-link-header link-icon" href="/watching" title="Go back to the watching index page">{% tablericon "arrow-left" "Go back to the watching index page" %} Back to watching</a>
<article class="watching-focus">
  <img
    srcset="
      https://cdn.coryd.dev/shows/backdrops/backdrop-{{ show.tmdb_id }}.jpg?aspect_ratio=1:.5625&width=256 256w,
      https://cdn.coryd.dev/shows/backdrops/backdrop-{{ show.tmdb_id }}.jpg?aspect_ratio=1:.5625&width=512 512w,
      https://cdn.coryd.dev/shows/backdrops/backdrop-{{ show.tmdb_id }}.jpg?aspect_ratio=1:.5625&width=1024 1024w,
      https://cdn.coryd.dev/shows/backdrops/backdrop-{{ show.tmdb_id }}.jpg?aspect_ratio=1:.5625&width=2048 2048w
    "
    sizes="(max-width: 450px) 256px,
      (max-width: 850px) 512px,
      (max-width: 1000px) 1024px,
      2048px"
    src="https://cdn.coryd.dev/shows/backdrops/backdrop-{{ show.tmdb_id }}.jpg?aspect_ratio=1:.5625&width=2048"
    alt="{{ alt }}"
    class="image-banner"
    loading="eager"
    decoding="async"
    width="768"
    height="432"
  />
  <div class="watching-meta">
    <p class="title"><strong>{{ show.title }}</strong></p>
    {% if lastWatched %}<p class="sub-meta">Last watched on {{ lastWatched | date: "%B %e, %Y" }}</p>{% endif %}
    <p class="sub-meta"><a href="https://themoviedb.org/tv/{{ show.tmdb_id }}" title="View {{ show.title | escape }} on TMDB">View on TMDB</a></p>
  </div>
  {% if show.review %}
    {{ show.review | markdown }}
    <hr />
  {% endif %}
  {% if show.description %}
    <h3>Overview</h3>
    {{ show.description | markdown }}
  {% endif %}
</article>