{%- capture js -%}
  {% render "../../../assets/scripts/menu.js" %}
{%- endcapture -%}
<script>{{ js }}</script>
<div class="flex-centered">
  <input id="menu-toggle" type="checkbox" aria-hidden="true" />
  <label class="menu-button-container" for="menu-toggle" tabindex="0">
    <div class="menu-closed" aria-hidden="true">{% tablericon "menu" "Menu closed" %}</div>
    <div class="menu-open" aria-hidden="true">{% tablericon "x" "Menu open" %}</div>
  </label>
  <ul class="menu-primary" aria-label="Primary site navigation" id="primary-navigation">
    {%- for link in nav.primary -%}
      <li>{% render "partials/nav/link.liquid", page:page, title:link.title, url:link.permalink, icon:link.icon %}</li>
    {%- endfor -%}
  </ul>
  {% render "partials/nav/theme-toggle.liquid" %}
</div>