<script type="module" src="/assets/scripts/components/theme-toggle.js?v={% appVersion %}" crossorigin="anonymous"></script>
<span class="client-side">
  <theme-toggle>
    <button class="theme-toggle">
      <span class="light">
        {% tablericon "sun" %}
      </span>
      <span class="dark">
        {% tablericon "moon" %}
      </span>
    </button>
  </theme-toggle>
</span>