{% assign mentions = webmentions.mentions | webmentionsByUrl: page.url %}
{% if mentions %}
  {% capture css %}
    {% render "../../../assets/styles/widgets/webmentions.css" %}
  {% endcapture %}
  <style>
    {{ css | cssmin }}
  </style>
  <div class="webmentions">
    {% render "partials/webmentions/interaction.liquid", mentions: mentions, type: 'repost-of' %}
    {% render "partials/webmentions/interaction.liquid", mentions: mentions, type: 'like-of' %}
    {% render "partials/webmentions/comments.liquid", mentions: mentions %}
    {% render "partials/webmentions/links.liquid", mentions: mentions %}
  </div>
{% endif %}