{% if webmentions %}
  <div class="border-t border-gray-200 mt-12 pt-14 dark:border-gray-700">
    {% assign mentions = webmentions.mentions | webmentionsByUrl: page.url %}
    {% render "partials/webmentions/interaction.liquid", mentions: mentions, type: 'repost-of' %}
    {% render "partials/webmentions/interaction.liquid", mentions: mentions, type: 'like-of' %}
    {% render "partials/webmentions/comments.liquid", mentions: mentions %}
  </div>
{% endif %}
