{%- capture title %}
  {% if type == 'repost-of' %}
    Reposts
  {% elsif type == 'like-of' %}
    Likes
  {% endif %}
{% endcapture -%}
{% if mentions[type].size > 0 %}
  <h2>{{ title }}</h2>
  <div class="interaction flex--centered">
    {% for mention in mentions[type] %}
    <a href={{mention.url}}>
      <div class="avatar__wrapper flex--centered">
        {% capture authorAlt %}{{ mention.author.name | escape }}{% endcapture %}
        {% capture fallbackIcon %}{% tablericon "user" authorAlt %}{% endcapture %}
        {% image mention.author.photo, authorAlt, 'avatar__image', 'lazy', 'rounded', fallbackIcon %}
      </div>
    </a>
    {% endfor %}
  </div>
{% endif %}