{% if mentions['link-to'].size > 0 %}
  <h2>Links</h2>
  <ul class="link__list">
    {% for mention in mentions['link-to'] %}
      <li>
        <a href="{{ mention.url }}">
          {{ mention.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}