{% capture css %}
  {% render "../../../assets/styles/components/banners.css" %}
{% endcapture %}
<style>{{ css }}</style>
<div class="banner github">
  <p>{% tablericon "brand-github" "GitHub repository" %} Take a look at <a href="{{ url }}">the GitHub repository for this project</a>. (And give it a star if you feel like it.)</p>
</div>