
<div class="addon-links">
  {%- if popularPosts.size > 0 -%}
    {% render "blocks/popular-posts.liquid", popularPosts:popularPosts %}
  {%- endif -%}
  {%- if links.size > 0 -%}
    {% render "blocks/recent-links.liquid", links:links %}
  {%- endif -%}
</div>