<script type="module" src="/assets/scripts/components/api-text.js?v={% appVersion %}" crossorigin="anonymous"></script>
<api-text api-url="/api/now-playing" display="inline" storage="local">
  <span class="loading client-side" style="margin-left:var(--spacing-sm)">{{ nowPlaying }}</span>
  <span class="content"></span>
  <noscript>
    <span>{{ nowPlaying }}</span>
  </noscript>
</api-text>