<script type="module" src="/assets/scripts/components/api-text.js?v={% appVersion %}" crossorigin="anonymous"></script>
<api-text api-url="/api/now-playing">
  <p class="loading client-side">🎧 Loading...</p>
  <p class="content"></p>
  <noscript>
    <p>{{ nowPlaying }}</p>
  </noscript>
</api-text>