---
layout: default
title: Blog
pagination:
    data: collections.posts
    size: 10
    reverse: true
    alias: posts
---

{% include "now-topper.liquid" %} {% for post in pagination.items %} {% if post.data.published %}
<article class="h-entry">
    <div
      class="mb-8 border-b border-gray-200 pb-4 text-gray-800 dark:border-gray-700 dark:text-white"
    >
    <a class="no-underline" href="{{ post.url }}">
      <h2
          class="p-name m-0 text-xl font-black leading-tight tracking-normal dark:text-gray-200 md:text-2xl"
      >
        {{ post.data.title }}
      </h2>
    </a>
    <span class="p-author h-card hidden">{{ site.title }}</span>
    <div class="my-2 text-sm">
      <time class="dt-published" datetime="{{ post.date }}">
          {{ post.date | date: "%m.%d.%Y" }}
      </time>
    </div>
    <p class="p-summary mt-0">{{ post.data.post_excerpt | markdown }}</p>
    <div class="mt-4 flex items-center justify-between">
      <a class="flex-none font-normal no-underline" href="{{ post.url }}">Read more &rarr;</a>
    </div>
  </div>
</article>
{% endif %} {% endfor %} {% include "paginator.liquid" %}