---
layout: default
pagination:
  data: collections.posts
  size: 8
  reverse: true
  alias: posts
---
{% if pagination.pageNumber == 0 %}
  {% render "partials/now/topper.liquid" status:status, artists:music.artists, books:books, tv:tv %}
{% endif %}
{% for post in pagination.items %}
<article class="h-entry">
  <time class="dt-published" datetime="{{ post.date }}">
    {{ post.date | date: "%B %e, %Y" }}
  </time>
  <a href="{{ post.url }}">
    <h2 class="flex-centered">{{ post.data.title }}</h2>
  </a>
  <div class="text-small">{% render "partials/tags.liquid", tags:post.data.tags %}</div>
  <span class="p-author h-card hidden">{{ meta.siteName }}</span>
  <div class="p-summary hidden">{{ post.data.post_excerpt }}</div>
  {{ post.data.post_excerpt | markdown }}
  <p><a href="{{ post.url }}">Read more →</a></p>
</article>
{% endfor %}
{% render "partials/paginator.liquid", pagination:pagination %}