---
title: Links
layout: default
pagination:
  data: links
  size: 8
---
{% for link in pagination.items %}
{%- assign shareLink = link.url | findPost: linkPosts -%}
<article class="h-entry" data-pagefind-body>
  <a class="no-underline" href="{{ link.url }}">
    <h2 class="flex--centered" data-pagefind-meta="title">{{ link.title }}</h2>
  </a>
  <div class="flex--centered meta">
    {%- if link.author %}
    <span rel="author">
      {{ link.author }} •
    </span>
    {% endif -%}
    <time class="dt-published" datetime="{{ link.date }}">
      {{ link.date | date: "%m.%Y" }}
    </time>
    {%- if shareLink %}
      <a class="brand-mastodon icon--small" href="{{ shareLink }}">
        {% tablericon "brand-mastodon" "Mastodon post" %}
      </a>
    {% endif -%}
  </div>
  <blockquote class="p-summary">{{ link.summary }}</blockquote>
  {%- if link.note %}
    <p>{{ link.note | markdown }}</p>
  {% endif -%}
</article>
{% endfor %}
{% include "partials/paginator.liquid" %}