---
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "/tags/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html"
eleventyComputed:
  title: '{{ tag }}'
---
{% assign posts = collections[tag] | reverse %}
{% for post in posts %}
{% assign author = post.data.link | stripUtm | authorLookup %}
<article class="h-entry">
  <div class="flex-centered gap-xs icon-small icon-light">
    {% if author %}{% tablericon "link" "Link" %}{% endif %}
    {% tablericon "calendar-month" "Date" %}
    <time class="dt-published" datetime="{{ post.date }}">
      {{ post.date | date: "%B %e, %Y" }}
    </time>
  </div>
  {% if author %}
  <a href="{{ post.data.link }}">
  {% else %}
  <a href="{{ post.url }}">
  {% endif %}
    <h2 class="flex-centered">{{ post.data.title }}</h2>
  </a>
  {% if author %}via {{ author }}{% endif %}
  {% if post.data.excerpt %}
  <p class="p-summary">{{ post.data.post_excerpt | markdown }}</p>
  {% else %}
  <p class="p-summary">{{ post.data.description | markdown }}</p>
  {% endif %}
</article>
{% endfor %}