body,
html {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background: var(--background-color);
  margin: 0;
}

::-moz-selection {
  color: var(--color-lightest);
  background: var(--selection-color);
}

::selection {
  color: var(--color-lightest);
  background: var(--selection-color);
}

p,
blockquote {
  line-height: var(--line-height-lg);
  margin: var(--spacing-base) 0;
}

blockquote {
  font-size: var(--font-size-lg);
  padding-left: .875rem;
  color: var(--gray-dark);
  border-left: .25rem solid var(--gray-dark);
  word-break: break-word;
}

:is(body, html, nav .tags, nav .search) svg {
  stroke: var(--text-color);
}

:is(h1, h2, h3, h4, h5, h6) > svg {
  margin-right: .25rem;
  stroke-width: var(--stroke-width-bold) !important;
}

sup.footnote-ref {
  line-height: var(--line-height-xs);
}

strong,
blockquote {
  font-weight: 700;
}

em,
blockquote {
  font-style: italic;
}

/* links */
a {
  transition-property: color;
}

a,
.active {
  color: var(--accent-color);
}

a:hover,
a:focus,
a:active,
:is(.main__title, footer nav:last-child) a:hover,
:is(.main__title, footer nav:last-child) a:focus,
:is(.main__title, footer nav:last-child) a:active {
  color: var(--accent-color-hover);
}

a:hover,
a:focus,
a:active {
  transition-timing-function: var(--transition-ease-in-out);
  transition-duration: var(--transition-duration-default);
}

:is(
    a:has(svg):hover,
    a:has(svg):active,
    a:has(svg):focus,
    button:has(svg):hover,
    button:has(svg):active,
    button:has(svg):focus
) svg {
  stroke: var(--accent-color-hover);
}

/* headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

h1 { font-size: var(--font-size-3xl) }
h2 { font-size: var(--font-size-2xl) }
h3 { font-size: var(--font-size-xl) }
h4 { font-size: var(--font-size-lg) }
h5 { font-size: var(--font-size-base) }
h6 { font-size: var(--font-size-sm) }

hr {
  height: 1px;
  background-color: var(--gray-light);
  border: 0;
}

hr.large__spacing {
  margin: 1.25rem 0;
}

/* tables */
table {
  display: block;
  overflow-x: auto;
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  border-radius: var(--rounded-lg);
  border: 1px solid var(--gray-light);
}

table a {
  text-decoration: none;
}

table,
th,
td {
  border-collapse: collapse;
}

:is(th, td):not(:last-child) {
  border-right: 1px solid var(--gray-light);
}

th,
tr:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

th,
td {
  padding: .375rem;
  min-width: 4rem;
  word-break: break-word;
}

th {
  font-weight: 700;
  background-color: var(--gray-lighter);
  text-align: center;
}

/* header */
.main__title {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.main__title h1 {
  line-height: 1.25;
  margin: 0;
  padding-bottom: .625rem;
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
}

/* nav */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin-top: 0;
  margin-bottom: 0;
}

nav ul li:not(:last-child) {
  margin-right: .6rem;
}

nav svg {
  margin-top: .125rem;
}

:is(a:hover, a:active, a:focus) svg,
a svg:hover,
a svg:active,
a svg:focus,
button:hover svg,
button svg:hover,
.icon--bold > svg {
  stroke-width: var(--stroke-width-bold);
}

.active,
.active svg {
  cursor: not-allowed;
}

a svg,
.active svg,
nav ul li .active svg {
  stroke: var(--accent-color);
}

.active:hover svg,
.active svg:hover,
nav ul li .active:hover svg,
nav ul li .active svg:hover {
  stroke-width: var(--stroke-width-default);
}

/* social icons */
.at svg { stroke: var(--brand-hey) !important; }
.brand-github svg { stroke: var(--brand-github) !important; }
.brand-npm svg { stroke: var(--brand-npm) !important; }
.brand-mastodon svg { stroke: var(--brand-mastodon) !important; }
.brand-lastfm svg { stroke: var(--brand-lastfm) !important; }
.device-tv svg { stroke: var(--brand-trakt) !important; }
.books svg { stroke: var(--brand-storygraph) !important; }
.cup svg { stroke: var(--brand-buy-me-a-coffee) !important; }
.heart-handshake svg { stroke: var(--webrings) !important; }
.rss svg { stroke: var(--brand-rss) !important; }

/* layout */
.default__wrapper {
  padding-top: 2rem;
}

.main__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 0%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* now */
.now__topper,
article {
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 1.25rem;
}

.now__topper p:first-child {
  margin-top: 0;
}

footer nav:first-child {
  gap: .6rem;
  margin-top: 2rem;
  padding: 2rem 0 1rem;
  width: 100%;
}

footer nav:first-child svg {
  margin-top: 0;
}

footer nav:first-child a {
  width: 1.5rem;
  height: 1.5rem;
}

footer nav:last-child {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding-bottom: 2rem;
}

footer nav:last-child span:not(.active) {
  margin-left: .25rem;
  margin-right: .25rem;
}

:is(.main__title, footer nav:last-child) a {
  color: var(--text-color);
  text-decoration: none;
}

.highlight-text {
  color: var(--color-lightest);
  background-color: var(--accent-color);
  padding: .25rem;
}

code {
  padding: .25rem;
  color: var(--text-color-inverted);
  background-color: var(--background-color-inverted);
}

/* articles */
article h2 {
  color: var(--text-color);
  line-height: var(--line-height-2xl);
  margin: 0 0 .85rem;
  transition-property: color;
}

article h2:hover,
article h2:focus,
article h2:active {
  color: var(--accent-color-hover);
  transition-timing-function: var(--transition-ease-in-out);
  transition-duration: var(--transition-duration-default);
}

article [rel="author"],
article time {
  color: var(--gray-dark);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin-right: .25rem;
}

article [rel="author"] {
  margin-bottom: .25rem;
}

article p:first-of-type {
  margin-top: .4rem;
}

.tag:not(:last-child) {
  margin-right: .85rem;
  margin-bottom: .85rem;
  display: inline-block;
}

/* buttons */
button {
  appearance: none;
  border: none;
}

/* icons */
svg {
  stroke-width: var(--stroke-width-default);
}

.icon--small > svg {
  width: 1rem;
  height: 1rem;
}

.icon--center__vertical > svg {
  display: inline;
  vertical-align: middle;
}

/* lists */
ul, ol {
  padding-left: 1.25rem;
  list-style-position: inside;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.link__list li {
  margin-top: .375rem;
  margin-bottom: .375rem;
}

.link__list,
.link__list li:last-child {
  margin-bottom: 0;
}

/* images */
.image__banner {
  border: 1px solid var(--accent-color);
  border-radius: var(--rounded-lg);
  height: auto;
}

.image__banner,
.image__banner > * {
  display: block;
  width: 100%;
}

.image__banner > * {
  height: auto;
}

/* pages */
.page__header {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  margin-top: 0;
}

/* utilities */
.hidden {
  display: none !important;
}

.no-underline {
  text-decoration: none !important;
}

.text--centered {
  text-align: center !important;
}

.text--small {
  font-size: var(--font-size-sm) !important;
  line-height: var(--line-height-sm) !important;
}

.flex--centered {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify--centered {
  justify-content: center;
}

.flex--wrap {
  flex-wrap: wrap
}

/* screens: md */
@media screen and (min-width: 768px) {
  .main__title {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main__title h1 {
    padding-bottom: 0;
  }

  nav ul li:not(:last-child) {
    margin-right: .75rem;
  }

  main {
    max-width: 768px;
  }

  .main__title h1,
  .page__header {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
  }

  article h2 {
    margin: 0 0 .25rem;
  }

  article p:first-of-type {
    margin-top: .75rem;
  }

  .tag:not(:last-child) {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  footer nav:first-child {
    gap: .75rem;
  }
}