@font-face {
  font-family: 'silka';
  src: url('/assets/fonts/silka/silka-black-webfont.woff2') format('woff2'),
  url('/assets/fonts/silka/silka-black-webfont.woff2') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('/assets/fonts/silka/silka-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/silka/silka-bold-webfont.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'silka';
  src: url('/assets/fonts/silka/silka-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/silka/silka-regular-webfont.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}