<div class="author__wrapper">
  <div class="avatar__wrapper flex--centered">
    <div class="avatar__wrapper--interior">
      {% image './src/assets/img/avatar.webp', meta.siteName, 'author-avatar' %}
    </div>
    <span>{{ meta.siteName }}</span>
  </div>
  <p class="description__wrapper">{{ meta.siteDescription }}</p>
</div>