<div class="badge__grid">
  <a href="https://11ty.dev">
    {% image './src/assets/img/badges/eleventy.png', 'Made with 11ty', '', 'lazy' %}
  </a>
  <a href="https://social.lol/@cory">
    {% image './src/assets/img/badges/mastodon.png', 'Follow me on Mastodon', '', 'lazy' %}
  </a>
  {% image './src/assets/img/badges/notarobot.png', 'Not a robot', '', 'lazy' %}
  <a href="https://github.com/cdransf">
    {% image './src/assets/img/badges/github.png', 'Check out my GitHub', '', 'lazy' %}
  </a>
  <a href="https://www.last.fm/user/coryd_">
    {% image './src/assets/img/badges/lastfm.png', 'Follow me on Last.fm', '', 'lazy' %}
  </a>
  <a href="https://www.buymeacoffee.com/cory">
    {% image './src/assets/img/badges/buymeacoffee.png', 'Buy Me a Coffee', '', 'lazy' %}
  </a>
  {% image './src/assets/img/badges/validhtml5.png', 'Valid HTML5', '', 'lazy' %}
  <a href="https://coryd.dev/feeds">
    {% image './src/assets/img/badges/validrss.png', 'Valid RSS', '', 'lazy' %}
  </a>
</div>
