{% capture css %}
  {% render "../../assets/styles/components/badge-grid.css" %}
{% endcapture %}
<style>{{ css }}</style>
<div class="badge__grid">
  <a href="https://11ty.dev">
    {% image './src/assets/img/badges/eleventy.png', 'Made with 11ty' %}
  </a>
  <a href="https://social.lol/@cory">
    {% image './src/assets/img/badges/mastodon.png', 'Follow me on Mastodon' %}
  </a>
  {% image './src/assets/img/badges/notarobot.png', 'Not a robot' %}
  <a href="https://github.com/cdransf">
    {% image './src/assets/img/badges/github.png', 'Check out my GitHub' %}
  </a>
  <a href="https://www.last.fm/user/coryd_">
    {% image './src/assets/img/badges/lastfm.png', 'Check out my GitHub' %}
  </a>
  {% image './src/assets/img/badges/validhtml5.png', 'Valid HTML5' %}
  <a href="https://coryd.dev/feeds">
    {% image './src/assets/img/badges/validrss.png', 'Valid RSS' %}
  </a>
  <a href="https://coryd.dev/uses">
    {% image './src/assets/img/badges/macos.png', 'Made with macOS' %}
  </a>
</div>
