<footer>
  <div class="mt-8 pt-8 pb-4 flex gap-2 md:gap-3 justify-center w-full">
    {% render "icons/email.liquid" %}
    {% render "icons/github.liquid" %}
    {% render "icons/mastodon.liquid" %}
    {% render "icons/lastfm.liquid" %}
    {% render "icons/spotify.liquid" %}
    {% render "icons/letterboxd.liquid" %}
    {% render "icons/trakt.liquid" %}
    {% render "icons/goodreads.liquid" %}
    {% render "icons/coffee.liquid" %}
  </div>
  <p class="text-sm text-gray-500 dark:text-gray-100 pb-8 text-center">
    <a class="text-gray-700 hover:text-purple-500 dark:text-gray-200 dark:hover:text-purple-500{% if page.url == '/uses/' %} active{% endif %}" href="/uses">Uses</a> •
    <a class="text-gray-700 hover:text-purple-500 dark:text-gray-200 dark:hover:text-purple-500{% if page.url == '/referrals/' %} active{% endif %}" href="/referrals">Referrals</a>
  </p>
</footer>
