<footer{% unless updated %} style="margin-top:var(--sizing-3xl)"{% endunless %}>
  {% if updated %}<p class="explainer text-small text-centered"><em>This page was last updated on {{ updated | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}.</em></p>{% endif %}
  <nav aria-label="Social icons" class="social flex-centered justify-centered text-centered">
    {% for link in nav.social %}
      {% render "partials/nav/linked-icon.liquid", name:link.name, link:link.url, icon:link.icon %}
    {% endfor %}
  </nav>
  <nav aria-label="Secondary site navigation" class="sub-pages flex-centered justify-centered text-centered">
    {% for link in nav.footer %}
      {% render "partials/nav/link.liquid", page:page, link:link.name, icon:link.icon %}
      {% if not forloop.last %}<span>•</span>{% endif %}
    {% endfor %}
  </nav>
</footer>
