<section class="main-title">
  <h1>
    {% if page.url != '/' %}
    <a href="/" tabindex="0">{{ meta.siteName }}</a>
    {% else %}
    {{ meta.siteName }}
    {% endif %}
  </h1>
  {% render "partials/nav/menu.liquid", page:page, nav:nav %}
</section>