<div class="main__title">
  <h1>
    {% if page.url != '/' %}
    <a href="/">{{ meta.siteName }}</a>
    {% else %}
    {{ meta.siteName }}
    {% endif %}
  </h1>
  {% render "partials/nav/menu.liquid", page:page, nav:nav %}
</div>