<div class="mt-8">
  {% for tag in tags %}
    {% if tag != "posts" %}
      <a href="/tags/{{ tag }}">
        <div
          class="tag--button tag--button__small"
          data-pagefind-filter="tag">{{ tag }}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>