{% assign filteredTags = tags | filterTags %}
<div{% if hasSpace %} style="margin-bottom:var(--sizing-md)"{% endif %}>
  {% for tag in filteredTags limit: 10 %}
  <a class="tag" href="/tags/{{ tag | downcase }}">{{ tag | formatTag }}</a>
  {% endfor %}
</div>