<div class="addon-links">
  {%- if analytics.size > 0 -%}
  <div>{% render "partials/widgets/popular-posts.liquid", posts:posts, analytics:analytics %}</div>
  {%- endif -%}
  {%- if links.size > 0 -%}
  <div>{% render "partials/widgets/recent-links.liquid", links:links %}</div>
  {%- endif -%}
</div>