<div class="addon-links">
  {%- if popularPosts.size > 0 -%}
  <div>{% render "partials/widgets/popular-posts.liquid", popularPosts:popularPosts %}</div>
  {%- endif -%}
  {%- if links.size > 0 -%}
  <div>{% render "partials/widgets/recent-links.liquid", links:links %}</div>
  {%- endif -%}
</div>