<div class="badge-grid">
  <a href="https://11ty.dev">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/eleventy.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/eleventy.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/eleventy.png?class=w200 200w,
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/eleventy.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://social.lol/@cory">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/mastodon.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/mastodon.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/mastodon.png?class=w200 200w,
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/mastodon.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://www.buymeacoffee.com/cory">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/buymeacoffee.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/buymeacoffee.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/buymeacoffee.png?class=w200 200w,
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/buymeacoffee.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://github.com/cdransf">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/github.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/github.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/github.png?class=w200 200w,
        https://cdn.coryd.dev/assets/badges/github.png?class=w200 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/github.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://github.com/ai-robots-txt/ai.robots.txt">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/notarobot.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/notarobot.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/notarobot.png?class=w200 200w,
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/notarobot.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://validator.w3.org">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/validhtml5.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/validhtml5.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/validhtml5.png?class=w200 200w,
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/validhtml5.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://www.w3.org/Style/CSS/Overview.en.html">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/validcss.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/validcss.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/validcss.png?class=w200 200w,
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/validcss.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://coryd.dev/feeds">
    <img
      srcset="
        https://cdn.coryd.dev/assets/badges/validrss.png??class=w50 50w,
        https://cdn.coryd.dev/assets/badges/validrss.png?class=w100 100w,
        https://cdn.coryd.dev/assets/badges/validrss.png?class=w200 200w,
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://cdn.coryd.dev/assets/badges/validrss.png?class=w200"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
</div>
