<div class="badge-grid">
  <a href="https://11ty.dev">
    <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/eleventy.png&fm=webp&q=65" alt="Made with 11ty" loading="lazy" decoding="async" />
  </a>
  <a href="https://social.lol/@cory">
    <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/mastodon.png&fm=webp&q=65" alt="Follow me on Mastodon" loading="lazy" decoding="async" />
  </a>
  <a href="https://github.com/ai-robots-txt/ai.robots.txt">
    <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/notarobot.png&fm=webp&q=65" alt="Not a robot" loading="lazy" decoding="async" />
  </a>
  <a href="https://github.com/cdransf">
    <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/github.png&fm=webp&q=65" alt="Check out my GitHub" loading="lazy" decoding="async" />
  </a>
  <a href="https://www.last.fm/user/coryd_">
    <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/lastfm.png&fm=webp&q=65" alt="Follow me on Last.fm" loading="lazy" decoding="async" />
  </a>
  <a href="https://www.buymeacoffee.com/cory">
    <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/buymeacoffee.png&fm=webp&q=65" alt="Buy Me a Coffee" loading="lazy" decoding="async" />
  </a>
  <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/validhtml5.png&fm=webp&q=65" alt="Valid HTML5" loading="lazy" decoding="async" />
  <a href="https://coryd.dev/feeds">
    <img src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/validrss.png&fm=webp&q=65" alt="Valid RSS" loading="lazy" decoding="async" />
  </a>
</div>
