<div class="badge-grid">
  <a href="https://11ty.dev">
    <img
      src="/assets/img/badges/eleventy.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://social.lol/@cory">
    <img
      src="/assets/img/badges/mastodon.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://www.buymeacoffee.com/cory">
    <img
      src="/assets/img/badges/buymeacoffee.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://github.com/cdransf">
    <img
      src="/assets/img/badges/github.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://github.com/ai-robots-txt/ai.robots.txt">
    <img
      src="/assets/img/badges/notarobot.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://validator.w3.org">
    <img
      src="/assets/img/badges/validhtml5.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://www.w3.org/Style/CSS/Overview.en.html">
    <img
      src="/assets/img/badges/validcss.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://coryd.dev/feeds">
    <img
      src="/assets/img/badges/validrss.png"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
</div>
