<div class="badge-grid">
  <a href="https://11ty.dev">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/eleventy.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/eleventy.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/eleventy.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/eleventy.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/eleventy.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://social.lol/@cory">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/mastodon.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/mastodon.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/mastodon.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/mastodon.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/mastodon.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://www.buymeacoffee.com/cory">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/buymeacoffee.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/buymeacoffee.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/buymeacoffee.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/buymeacoffee.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/buymeacoffee.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://github.com/cdransf">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/github.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/github.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/github.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/github.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/github.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://github.com/ai-robots-txt/ai.robots.txt">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/notarobot.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/notarobot.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/notarobot.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/notarobot.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/notarobot.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://validator.w3.org">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validhtml5.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validhtml5.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validhtml5.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validhtml5.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/validhtml5.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://www.w3.org/Style/CSS/Overview.en.html">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validcss.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validcss.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validcss.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validcss.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/validcss.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
  <a href="https://coryd.dev/feeds">
    <img
      srcset="
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validrss.png&fit=cover&w=88&h=31&fm=webp&q=85 88w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validrss.png&fit=cover&w=176&h=62&fm=webp&q=85 176w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validrss.png&fit=cover&w=352&h=124&fm=webp&q=85 352w,
        https://coryd.dev/.netlify/images/?url=/assets/img/badges/validrss.png&fit=cover&w=704&h=248&fm=webp&q=85 704w
      "
      sizes="(max-width: 450px) 88px,
        (max-width: 850px) 176px,
        (max-width: 1000px) 352px,
        704px"
      src="https://coryd.dev/.netlify/images/?url=/assets/img/badges/validrss.png&fit=cover&w=704&h=248&fm=webp&q=85"
      alt="Made with 11ty"
      loading="lazy"
      decoding="async"
      width="88"
      height="31"
    />
  </a>
</div>
