<div class="post-graph">
  {% assign years = postYears | reverse %}
  {%- for year in years %}
  <div class="wrapper">
    <div class="year">{{ year.year }}</div>
    <div class="progress" style="width: {{ year.yearProgress }}%"></div>
    <div class="data">{{ year.postCount }}</div>
  </div>
  {% endfor %}
</div>