{% if links.size > 0 %}
<h2 id="links" class="link-list-header flex-centered">
  {% tablericon "link" "Links" %}
  Recent links
</h2>
<ul class="link-list">
  {% for link in links limit: 5 %}
    <li>
      <a href="{{ link.data.link }}" title="{{ link.data.title | escape }}">
        {{ link.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %}
